<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>cloudNote</title>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <style>

        .layui-body {
            left: 0px;
        }

        .layui-footer1 {
            position: fixed;
            left: 0px;
            right: 0;
            bottom: 0;
            height: 44px;
            line-height: 44px;
            padding: 0 15px;
            background-color: #eee
        }

    </style>
</head>

<body>
<!--顶部导航栏-->
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">

        <div><a class="layui-logo" id="cloudNote" href="/to_index">云笔记平台</a></div>

        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin"><i class="layui-icon layui-icon-close"></i> 注销登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-body">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            用户总数
                            <span class="layui-badge layui-bg-blue layuiadmin-badge">周</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font">9,999,666</p>
                            <p>
                                总计访问量
                                <span class="layuiadmin-span-color">88万 <i
                                        class="layui-inline layui-icon layui-icon-flag"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            下载
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>
                                新下载
                                <span class="layuiadmin-span-color">10% <i
                                        class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            收入
                            <span class="layui-badge layui-bg-green layuiadmin-badge">年</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">

                            <p class="layuiadmin-big-font">999,666</p>
                            <p>
                                总收入
                                <span class="layuiadmin-span-color">*** <i
                                        class="layui-inline layui-icon layui-icon-dollar"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            活跃用户
                            <span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">

                            <p class="layuiadmin-big-font">66,666</p>
                            <p>
                                最近一个月
                                <span class="layuiadmin-span-color">15% <i
                                        class="layui-inline layui-icon layui-icon-user"></i></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="layui-col-sm12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            访问量
                            <div class="layui-btn-group layuiadmin-btn-group">
                                <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs">去年</a>
                                <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs">今年</a>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-row">
                                <div class="layui-col-sm8">
                                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                                         lay-filter="LAY-index-pagetwo">
                                        <div carousel-item id="LAY-index-pagetwo">
                                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-sm4">
                                    <div class="layuiadmin-card-list">
                                        <p class="layuiadmin-normal-font">月访问数</p>
                                        <span>同上期增长</span>
                                        <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                            <div class="layui-progress-bar" lay-percent="30%"></div>
                                        </div>
                                    </div>
                                    <div class="layuiadmin-card-list">
                                        <p class="layuiadmin-normal-font">月下载数</p>
                                        <span>同上期增长</span>
                                        <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                            <div class="layui-progress-bar" lay-percent="20%"></div>
                                        </div>
                                    </div>
                                    <div class="layuiadmin-card-list">
                                        <p class="layuiadmin-normal-font">月收入</p>
                                        <span>同上期增长</span>
                                        <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                            <div class="layui-progress-bar" lay-percent="25%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-sm12">
                    <div class="layui-row layui-col-space15">

                        <div class="layui-card">
                            <div class="layui-card-header">用户信息列表</div>
                            <div class="layui-card-body">
                                <table class="layui-table layuiadmin-page-table" id="accountList" lay-skin="line">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm12">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-card">
                            <div class="layui-card-header">用户数据列表</div>
                            <div class="layui-card-body">
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-sm4">
                                        <table class="layui-table layuiadmin-page-table" lay-skin="line">

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="layui-footer1 layui-bg-black">
        © layui.com - 底部固定区域
    </div>
</div>


</div>
</body>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="lock">锁定</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="unLock">解锁</a>

</script>

<script th:inline="none">

    //设置全局token
    var token = sessionStorage.getItem("token");

    layui.use(['table', 'element', 'form', 'layer'], function () {
        var table = layui.table;
        table.render({
            elem: '#accountList'
            , where: {token: token}//传递token到服务端
            , url: 'http://localhost:8080/PIM/account_list.json' //默认传递两个参
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , title: '用户数据表'
            , page: true
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'accountId', title: 'ID', width: 50, fixed: 'left', unresize: true}
                , {field: 'accountName', title: '用户名', width: 120, unresize: true}
                , {field: 'sex', title: '性别', width: 70, unresize: true}
                , {field: 'email', title: '邮箱', width: 200, unresize: true}
                , {field: 'phone', title: '手机', width: 160, unresize: true}
                , {field: 'zone', title: '区域', width: 100, unresize: true}
                , {field: '', title: '登录次数', width: 100, unresize: true}
                , {field: 'zone', title: '最近活跃', width: 100, unresize: true}
                , {field: 'zone', title: '是否在线', width: 100, unresize: true}
                , {field: 'createTime', title: '加入时间', width: 160, sort: true, unresize: true}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 200, unresize: true}
            ]]

        });

        //监听按钮事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'lock') {

            } else if (obj.event === 'unLock') {
            }
        });

        //锁定账户
        function lock() {

        }


        //解锁账户
        function unLock() {

        }


        //退出登录
        $("#logout").click(function () {
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "http://localhost:8080/account/logout.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg("退出成功!")
                        window.location.href = "/login"//进入主页
                    }
                },
            })
        })
    });
</script>

</html>