<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>cloudNote</title>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <style>

        .layui-body {
            left: 0px;
        }

        .layui-footer1 {
            position: fixed;
            left: 0px;
            right: 0;
            bottom: 0;
            height: 44px;
            line-height: 44px;
            padding: 0 15px;
            background-color: #eee
        }

    </style>
</head>

<body>
<!--顶部导航栏-->
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        <div><a class="layui-logo">云笔记平台</a></div>

        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin"><i class="layui-icon layui-icon-close"></i> 注销登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-body">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            用户总数
                            <span class="layui-badge layui-bg-blue layuiadmin-badge">周</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font">9,999,666</p>
                            <p>
                                总计访问量
                                <span class="layuiadmin-span-color">88万 <i
                                        class="layui-inline layui-icon layui-icon-flag"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            下载
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>
                                新下载
                                <span class="layuiadmin-span-color">10% <i
                                        class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            收入
                            <span class="layui-badge layui-bg-green layuiadmin-badge">年</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">

                            <p class="layuiadmin-big-font">999,666</p>
                            <p>
                                总收入
                                <span class="layuiadmin-span-color">*** <i
                                        class="layui-inline layui-icon layui-icon-dollar"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            活跃用户
                            <span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font">66,666</p>
                            <p>
                                最近一个月
                                <span class="layuiadmin-span-color">15% <i
                                        class="layui-inline layui-icon layui-icon-user"></i></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-row layui-col-space15">

                        <div class="layui-card">
                            <div class="layui-card-header">用户信息列表</div>
                            <div class="layui-card-body">
                                <!--点击行展示数据-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-card">
                            <div class="layui-card-header">账户数据列表</div>
                            <div class="layui-card-body">
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-sm4">
                                        <table class="layui-table layuiadmin-page-table" lay-skin="line">

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="layui-col-sm12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            访问量
                            <div class="layui-btn-group layuiadmin-btn-group">
                                <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs">去年</a>
                                <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs">今年</a>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-row">


                                <div class="layui-col-sm4">
                                    <input id="input-search-note" type="text" placeholder="搜索" autocomplete="off"
                                           class="layui-input" maxlength="12"
                                           style="border-right: none;boder-top:none;border-bottom: none;font-size: 16px"/>

                                </div>

                                <div class="layui-col-sm8">
                                    <div class="layuiadmin-card-list">
                                        <p class="layuiadmin-normal-font">月访问数</p>
                                        <span>同上期增长</span>
                                        <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                            <div class="layui-progress-bar" lay-percent="30%"></div>
                                        </div>
                                    </div>
                                    <div class="layuiadmin-card-list">
                                        <p class="layuiadmin-normal-font">月下载数</p>
                                        <span>同上期增长</span>
                                        <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                            <div class="layui-progress-bar" lay-percent="20%"></div>
                                        </div>
                                    </div>
                                    <div class="layuiadmin-card-list">
                                        <p class="layuiadmin-normal-font">月收入</p>
                                        <span>同上期增长</span>
                                        <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                            <div class="layui-progress-bar" lay-percent="25%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="layui-footer1 layui-bg-black">
        © layui.com - 底部固定区域
    </div>
</div>


</div>
</body>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="lock">锁定</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="unLock">解锁</a>

</script>

<script th:inline="none">

    //设置全局token
    var token = sessionStorage.getItem("token");

    layui.use(['table', 'element', 'form', 'layer'], function () {
        var table = layui.table;
        table.render({
            elem: '#accountList'
            , where: {token: token}//传递token到服务端
            , url: '/admin/account_list.json' //默认传递两个参
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , loading: true
            , text: ''
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'accountId', title: 'ID', align: 'center', width: 50, fixed: 'left', unresize: true}
                , {field: 'accountName', title: '用户名', align: 'center', width: 145, unresize: false}
                , {field: 'sex', title: '性别', width: 60, align: 'center', unresize: true}
                , {field: 'birthday', title: '出生日期', align: 'center', width: 110, unresize: true}
                , {field: 'area', title: '区域', align: 'center', width: 120, unresize: false}
                , {field: 'email', title: '邮箱', align: 'center', width: 180, unresize: false}
                , {field: 'phone', title: '手机', align: 'center', width: 130, unresize: true}
                , {field: 'isOnline', title: '是否在线', align: 'center', width: 100, unresize: true}
                , {field: 'isLocked', title: '是否锁定', align: 'center', width: 100, unresize: true}
                , {fixed: 'right', title: '操作', align: 'center', toolbar: '#barDemo', width: 150}
            ]]
            , page: true
        });



        //监听行单击事件（双击事件为：rowDouble）
        table.on('row(test)', function(obj){
            var data = obj.data;

            layer.alert(JSON.stringify(data), {
                title: '当前行数据：'
            });

            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });

    });
</script>

</html>