<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>云笔记</title>
    <link rel="icon" href="https://001-bucket.oss-cn-shanghai.aliyuncs.com/admin/title.gif" type="image/x-icon"/>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script src="../static/layui-v2.5.5/layui/admin.js"></script>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <!--引入jquery-->
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/common.js"></script>
    <style>

        .layui-body {
            left: 0px;
        }

        .layui-footer1 {
            position: fixed;
            left: 0px;
            right: 0;
            bottom: 0;
            height: 44px;
            line-height: 44px;
            padding: 0 15px;
            background-color: #eee
        }

        .layuiadmin-card-list p.layuiadmin-big-font {
            font-size: 36px;
            color: #666;
            line-height: 36px;
            padding: 5px 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap
        }

        .layuiadmin-badge {
            top: 50%;
            margin-top: -9px;
            color: #01AAED
        }

        .layuiadmin-badge, .layuiadmin-btn-group, .layuiadmin-span-color {
            position: absolute;
            right: 15px
        }

        .layadmin-carousel {
            height: 185px !important;
            background-color: #fff
        }

        .layadmin-backlog .layadmin-backlog-body {
            display: block;
            padding: 10px 15px;
            background-color: #f8f8f8;
            color: #999;
            border-radius: 2px;
            transition: all .3s;
            -webkit-transition: all .3s
        }


        .layadmin-backlog .layadmin-backlog-body {
            display: block;
            padding: 10px 15px;
            background-color: #f8f8f8;
            color: #999;
            border-radius: 2px;
            transition: all .3s;
            -webkit-transition: all .3s
        }

        .layadmin-backlog-body h3 {
            padding-bottom: 10px;
            font-size: 12px
        }


        .layuiadmin-card-list p.layuiadmin-normal-font {
            padding-bottom: 10px;
            font-size: 20px;
            color: #666;
            line-height: 24px
        }

    </style>
</head>

<body>
<!--顶部导航栏-->
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        <div><a href="javascript:location.reload();" class="layui-logo">云笔记平台</a></div>

        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://001-bucket.oss-cn-shanghai.aliyuncs.com/admin/title.gif" class="layui-nav-img">
                    <span id="headAccountName">admin</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="#" id="logout"><i class="layui-icon layui-icon-prev"></i> 注销登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-body">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <span>用户概况</span>
                            <span class="layui-badge layui-bg-green layuiadmin-badge">ALL</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font" id="accountCount"></p>
                            <p>
                                活跃用户
                                <span id="aliveAccountCount" class="layuiadmin-span-color"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            笔记总数
                            <span class="layui-badge layui-bg-blue layuiadmin-badge">ALL</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p id="noteCount" class="layuiadmin-big-font"></p>
                            <p>
                                今日新创建
                                <span id="currentDayNoteCount" class="layuiadmin-span-color"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            图片总数
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">ALL</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p id="imageCount" class="layuiadmin-big-font"></p>
                            <p>
                                今日新创建
                                <span id="currentDayImageCount" class="layuiadmin-span-color"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            文档总数
                            <span class="layui-badge layui-bg-orange layuiadmin-badge">ALL</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">

                            <p id="fileCount" class="layuiadmin-big-font"></p>
                            <p>
                                今日新创建
                                <span id="currentDayFileCount" class="layuiadmin-span-color"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                用户信息列表

                            </div>
                            <div class="layui-card-body">
                                <table id="accountList" class="layui-table layuiadmin-page-table" lay-skin="line"
                                       lay-filter="accountList"></table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10">
                    <div class="layui-col-sm12 layui-col-md5">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <span>邮件服务</span>
                                <div class="layui-layout-right" style="right: 15px;">
                                    <div class="layui-input-inline">
                                        <input type="text" name="emailTheme" id="emailTheme" lay-verify="title"
                                               autocomplete="off"
                                               style="height: 30px;width: 300px;"
                                               placeholder="主题" class="layui-input">
                                    </div>
                                    <button class="layui-btn layui-btn-primary  layui-btn-sm" id="sendEmail">发送</button>
                                </div>
                            </div>

                            <div class="layui-card-body layuiadmin-card-list">
                                <textarea id="emailContent" class="layui-textarea"
                                          placeholder="请输入邮件内容" maxlength="200"
                                          style="resize: none;min-height:260px"></textarea>
                            </div>

                        </div>
                    </div>
                    <!--账户详情-->
                    <div class="layui-col-sm12 layui-col-md7">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <span id="accountName"
                                      style="left:10px;top: 50%;color: #333;font-size: 18px">用户详情</span>

                            </div>
                            <div class="layui-card-body layuiadmin-card-list">
                                <div class="layui-row layui-col-space10">
                                    <div class="layui-col-md5 layui-col-sm5" >
                                        <div class="layui-card" style="margin-bottom:0px">
                                            <div class="layui-card-header">
                                                <span style="color: #666;font-size:14px">注册日期：</span>
                                                <span id="createTime"></span>
                                            </div>
                                        </div>
                                        <div class="layui-card" style="margin-bottom:0px">
                                            <div class="layui-card-header">
                                                <span style="color: #666;font-size:14px">最近登录时间：</span>
                                                <span id="lastLoginTime"></span>
                                            </div>
                                        </div>
                                        <div class="layui-card" style="margin-bottom:0px">
                                            <div class="layui-card-header">
                                                <span style="color: #666;font-size:14px">笔记：</span>
                                                <span id="noteCount1"></span>
                                            </div>
                                        </div>
                                        <div class="layui-card" style="margin-bottom:0px">
                                            <div class="layui-card-header">
                                                <span style="color: #666;font-size:14px">图片：</span>
                                                <span id="imageCount1"></span>
                                            </div>
                                        </div>
                                        <div class="layui-card" style="margin-bottom:0px">
                                            <div class="layui-card-header">
                                                <span style="color: #666;font-size:14px">文档：</span>
                                                <span id="fileCount1"></span>
                                            </div>
                                        </div>
                                        <div class="layui-card" style="margin-bottom:0px">
                                            <div class="layui-card-header">
                                                <span style="color: #666;font-size:14px">登录次数：</span>
                                                <span id="loginCount"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md7 layui-col-sm7">
                                        <div class="layui-card" style="margin-bottom:0px">
                                            <div class="layui-card-body" style="height: 240px;overflow:auto" id="illegalData">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer1 layui-bg-black">
        <div class="layui-main" style="text-align: center">
            <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow"
               style="color: #fffbf0;">苏ICP备19045217号</a>
        </div>
    </div>
</div>
</div>
</body>

<script type="text/html" id="operate">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="lock">锁定</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="unLock">解锁</a>
    <a class="layui-btn layui-btn-xs" lay-event="showDetail">详情</a>
</script>

<script th:inline="none">

    //设置全局token
    var token = sessionStorage.getItem("token");

    layui.use(['table', 'element', 'form', 'layer', 'util'], function () {
        var table = layui.table;
        var util = layui.util;
        //初始化数据
        init_accountList();
        initHeadData();

        //返回顶部
        util.fixbar({
            top: true
            , css: {right: 25, bottom: 50}
            , bgcolor: '#393D49 !important;display:block;'
            , click: function (type) {
                if (type === 'top') {
                    $('.layui-body').animate({//主要代码
                        scrollTop: 0
                    }, 200);
                }
            }
        });

        //初始化账户列表
        function init_accountList() {
            table.render({
                elem: '#accountList'
                , where: {token: token}//传递token到服务端
                , url: '/admin/account_list.json' //默认传递两个参
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , loading: true
                , text: ''
                , cols: [[
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'accountId', title: 'ID', align: 'center', width: 280, fixed: 'left', unresize: true}
                    , {field: 'accountName', title: '用户名', align: 'center', width: 140, unresize: false, fixed: 'left'}
                    , {field: 'email', title: '邮箱', align: 'center', width: 170, unresize: false}
                    , {field: 'sex', title: '性别', align: 'center', width: 80, unresize: true}
                    , {field: 'birthday', title: '生日', align: 'center', width: 120, unresize: true}
                    , {field: 'area', title: '区域', align: 'center', width: 120, unresize: true}
                    , {field: 'phone', title: '手机', align: 'center', width: 120, unresize: true}
                    , {field: 'isLocked', title: '是否锁定', align: 'center', width: 90, unresize: true}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#operate', width: 160}
                ]]
                , page: true
            });
        }

        //监听行操作
        table.on('tool(accountList)', function (obj) {
            if (obj.event === 'showDetail') {
                showDetail(obj.data);
            } else if (obj.event === 'unLock') {
                if (obj.data.isLocked == "UNLOCK") {
                    layer.msg("不支持该操作!");
                } else {
                    layer.confirm('确定要解锁该用户吗？', function (index) {
                        lock(obj.data, 'UNLOCK');
                        layer.close(index);
                    });
                }
            } else if (obj.event === 'lock') {
                if (obj.data.isLocked == "LOCK") {
                    layer.msg("不支持该操作!");
                } else {
                    layer.confirm('确定要锁定该用户吗？', function (index) {
                        lock(obj.data, 'LOCK');
                        layer.close(index);
                    });
                }
            }
        });

        //锁定/解锁用户
        function lock(data, flag) {
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: jsonData,
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token, 'isLock': flag},
                url: "/admin/lock_unlock.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        init_accountList();
                    } else {
                        layer.msg(result.message);
                    }
                },
                error: function () {
                    alert("网络出现异常!");
                }
            });
        }

        //获取头部概况数据
        function initHeadData() {
            $.ajax({
                type: "post",
                contentType: "application/json",
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/admin/get_head_data.json",
                success: function (result) {
                    if (result.code == 1) {
                        setHeadData(result.data);
                    } else {
                        layer.msg(result.message);
                    }
                },
                error: function () {
                    alert("网络出现异常!");
                }
            });
        };

        //头部数据赋值
        function setHeadData(obj) {
            $('#accountCount').text(obj.accountCount);
            $('#aliveAccountCount').html(obj.aliveAccountCount);
            $('#noteCount').text(obj.noteCount);
            $('#currentDayNoteCount').html(obj.currentDayNoteCount);
            $('#imageCount').text(obj.imageCount);
            $('#currentDayImageCount').html(obj.currentDayImageCount);
            $('#fileCount').text(obj.fileCount);
            $('#currentDayFileCount').html(obj.currentDayFileCount);
        }

        //发送邮件
        $('#sendEmail').click(function () {
            //获取表格中所有选中的行数据
            let checkStatus = table.checkStatus('accountList');
            let arrayData = checkStatus.data;
            let emails = "";
            //遍历获取id
            for (var i in arrayData) {
                emails = emails + arrayData[i].email + ",";
            }
            emails = emails.substr(0, emails.length - 1);
            let jsonData = JSON.stringify({
                "emails": emails,
                "emailTheme": $('#emailTheme').val(),
                "emailContent": $('#emailContent').val()
            })
            //发送邮件
            $.ajax({
                type: "post",
                contentType: "application/json",
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/admin/send_mails.json",
                data: jsonData,
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                    } else {
                        layer.msg(result.message);
                    }
                },
                error: function () {
                    alert("网络出现异常!");
                }
            });
        });

        //详情
        function showDetail(data) {
            $('#accountName').html(data.accountName);
            $('#noteCount1').html(data.note);
            $('#imageCount1').html(data.image);
            $('#fileCount1').html(data.file);
            $('#createTime').html(data.createTime);
            $('#loginCount').html(data.loginCount);
            $('#lastLoginTime').html(data.lastLoginTime);
            $('#illegalData').html(data.illegalData);
        }

        //注销
        $("#logout").click(function () {
            //清空sessionStorage
            sessionStorage.removeItem("token");
            sessionStorage.removeItem("headAccountName");
            sessionStorage.removeItem("headImageUrl");
            logout(token);
        })
    });
</script>

</html>