<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>修改密码</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


    <!--引入layui-->
    <link rel='stylesheet' typeUtils='text/css' media='screen' href='../static/layui-v2.5.5/layui/css/layui.css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>

    <!--引入jquery-->
    <script src="../static/jquery-3.4.1.min.js"></script>


    <style>
        .layui-side.layui-bg-black {
            width: 100px;
        }

        .layui-nav-tree {
            width: 100px;
        }

        .layui-body {
            left: 100px;
        }

        .layui-footer1 {
            position: fixed;
            left: 100px;
            right: 0;
            bottom: 0;
            height: 35px;
            line-height: 35px;
            padding: 0 15px;
        }

        .note-title {
            border: none;
        }

    </style>
</head>

<body class="layui-layout-body">
<!--顶部导航栏-->
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">

        <div><a class="layui-logo" id="cloudNote" href="/to_index">云笔记平台</a></div>

        <div class=" layui-nav layui-layout-left">
            <li class="layui-nav-item"><a id="create-note" href="/to_index">创建笔记</a></li>
            </li>
        </div>

        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item">
                <div class="layui-input-inline">
                    <input typeUtils="text" name="title" required lay-verify="required"
                           autocomplete="off" class="layui-input"
                           style="width: 100%; height: 30px;line-height: 30px;padding:0 10px;margin-top: 4px;">
                </div>

                <div class="layui-input-inline" style="margin-right: 15px; ">
                    <button class="layui-btn layui-btn-primary layui-btn-sm">搜索</button>
                </div>

            </li>

            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/to_basicInformation">基本资料</a></dd>
                    <dd><a href="/to_editPassword">修改密码</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>


    </div>
    <!--左侧导航栏-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">笔记</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">学习</a></dd>
                        <dd><a href="javascript:;">工作</a></dd>
                        <dd><a href="javascript:;">生活</a></dd>
                        <dd><a href="javascript:;">旅游</a></dd>
                        <dd><a href="javascript:;">随笔</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">回收站</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">全部恢复</a></dd>
                        <dd><a href="javascript:;">全部清空</a></dd>
                        <dd><a href="javascript:;">查看全部</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--中间部分-->
    <div class="layui-body">

    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer1 layui-bg-black">
        © layui.com - 底部固定区域
    </div>
</div>

</body>

<!--加载所需要的基础模块-->
<script>
    layui.use('element', function () {
        var element = layui.element//

    });
</script>

<script>

    //加载表单
    layui.use('form', function () {
        var form = layui.form;
    });

</script>
</html>