<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>邮箱注册</title>

    <!--引入layui-->
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <!--引入jquery-->
    <script src="../static/jquery-3.4.1.min.js"></script>

</head>
<body>

<div class="layui-container"><!--宽度100%适应的容器中-->
    <div class="layui-row" style="margin-top: 6%;"></div>

    <div class="layui-row layui-col-space5"><!--设置列之间的间距为5-->

        <div class="layui-col-md4"></div>

        <div class="layui-col-md4">

            <form class="layui-form" action="post" style="margin-left: 10%;margin-right: 10%;">

                <div class="layui-form-item" style="text-align:center;">
                    <h2>云笔记平台</h2>
                </div>

                <div class="layui-form-item">
                    <input type="text" name="email" required lay-verify="required" placeholder="邮箱" autocomplete="off"
                           class="layui-input">
                </div>

                <div class="layui-form-item">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs7">
                            <input type="text" id="security-code" name="securityCode" class="layui-input">
                        </div>
                        <div class="layui-col-xs5">
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" lay-submit
                                    lay-filter="securityCode">获取验证码
                            </button>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <input type="text" name="userName" required lay-verify="required" placeholder="昵称"
                           autocomplete="off" class="layui-input">
                </div>

                <div class="layui-form-item">
                    <input type="password" name="userPassword" required lay-verify="required" placeholder="密码"
                           autocomplete="off" class="layui-input">
                </div>

                <div class="layui-form-item">
                    <input type="password" name="confirmPassword" required lay-verify="required" placeholder="确认密码"
                           autocomplete="off" class="layui-input">
                </div>

                <div class="layui-form-item">
                    <button type="button" class="layui-btn layui-btn-fluid" lay-submit lay-filter="register">注册</button>
                </div>

                <div class="layui-form-item">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs7">
                            <label>手机号注册</label>
                            <a href="/phoneRegister"><i class="layui-icon layui-icon-cellphone"></i></a>
                        </div>
                        <div class="layui-col-xs5">
                            <a href="/to_login">已有账户登录</a>
                        </div>
                    </div>

                </div>
            </form>

        </div>

        <div class="layui-col-md4"></div>

    </div>
</div>

</div>

</body>
<script type="text/javascript">

    layui.use(['element', 'form', 'table'], function () {
        var form = layui.form;

        /**
         * 监听提交
         */
        form.on('submit(register)', function (data) {
            var datajson = JSON.stringify(data.field);
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: datajson,
                url: "http://localhost:8080/admin/register",
                error: function (result) {
                    alert("网络出现异常!");
                },
                success: function (result) {
                    if (result.code == 1) {
                        layer.open({
                            title: '提示',
                            content: result.message,
                            btn: [],
                            time: 1500,
                            shade: 0.6,
                            offset: 'auto',
                            area: ['200px', '120px'],
                            end: function () {
                                window.location.href = "/to_login";//进入邮箱登录页面
                            }
                        });
                    } else {
                        layer.open({
                            title: '提示',
                            content: result.message,
                            btn: [],
                            time: 1500,
                            shade: 0.6,
                            offset: 'auto',
                            area: ['200px', '120px']
                        });
                    }
                }
            });
        });

        /**
         * 发送验证码
         */
        form.on('submit(securityCode)', function (dataObject) {
            alert("验证码");
            var emailAddress = dataObject.field.email;
            var data =
                {
                    "emailAddress": emailAddress
                };
            var datajson = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: datajson,
                url: "http://localhost:8080/admin/security_code",
                error: function () {
                    alert("网络出现异常");
                },
                success: function (result) {
                    layer.open({
                        title: '提示',
                        content: result.message,
                        btn: [],
                        time: 1500,
                        shade: 0.6,
                        offset: 'auto',
                        area: ['200px', '120px']
                    }/*, function () {
                        window.location.href = "/to_index?token=" + tokenData;//进入主页
                    }*/);

                }
            });

        })
    });

</script>
</html>
      