<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录</title>

    <!--引入layui-->
    <link rel='stylesheet' type='text/css' media='screen' href='../static/layui-v2.5.5/layui/css/layui.css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <!--引入jquery-->
    <script src="../static/jquery-3.4.1.min.js"></script>

</head>
<body>

<div class="layui-container"><!--宽度100%适应的容器中-->

    <div class="layui-row" style="margin-top: 5%;">

    </div>

    <div class="layui-row layui-col-space5"><!--设置列之间的间距为5-->

        <div class="layui-col-md4">

        </div>

        <div class="layui-col-md4">

            <form class="layui-form" action="post" style="margin-left: 10%;margin-right: 10%;">

                <div class="layui-form-item" style="text-align:center;">
                    <h2>云笔记平台</h2>
                </div>

                <div class="layui-form-item">
                    <input type="text" name="email" required lay-verify="required" placeholder="邮箱" autocomplete="off"
                           class="layui-input">
                </div>

                <div class="layui-form-item">
                    <input type="password" name="userPassword" required lay-verify="required" placeholder="密码"
                           autocomplete="off" class="layui-input">
                </div>

                <div class="layui-form-item">

                    <div class="layui-row  layui-col-space5">
                        <div class="layui-col-xs7">
                            <div class="grid-demo grid-demo-bg1"><input type="checkbox" name="remember"
                                                                        lay-skin="primary" title="记住密码"
                                                                        lay-filter="remberPassword"></div>
                        </div>


                        <div class="layui-col-xs5">
                            <div class="grid-demo grid-demo-bg1">
                                <a style="display: inline-block; text-align: center; margin-top: 9px;">忘记密码?</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <button type="button" class="layui-btn layui-btn-fluid" lay-submit lay-filter="login">登录</button>
                </div>

                <div class="layui-form-item">

                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs7">
                            <label>其他方式登录</label>
                            <a href="to_phoneLogin"><i class="layui-icon layui-icon-cellphone"></i></a>
                        </div>

                        <div class="layui-col-xs5">
                            <a href="">注册帐号</a>
                        </div>
                    </div>


                </div>
            </form>
        </div>

        <div class="layui-col-md4">

        </div>
    </div>
</div>
</body>
<script>

    //加载登录表单
    layui.use(['element', 'form'], function () {
        var form = layui.form;

        //登录监听
        form.on('submit(login)', function (data) {
            var tokendata = getToken();
            var datajson = JSON.stringify(data.field);
            alert("登录" + datajson);
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: datajson,
                headers: {
                    "token": tokendata
                },
                url: "http://localhost:8080/admin/email_login",

                success: function (result) {
                    if (result['code'] = 0) {
                        alert("登录成功!");
                        document.cookie = result['token'];//保存token到cookie中
                        window.location.href = "/to_index";//进入邮箱登录页面
                    } else {
                        alert(result['msg']);
                    }

                },
                error: function () {
                    alert("网络出现异常!");

                }
            });

        });
    })

    //获取token
    function getToken() {
        var strcookie = document.cookie;//获取cookie字符串
        var arrcookie = strcookie.split("; ");//分割
        //遍历匹配
        for (var i = 0; i < arrcookie.length; i++) {
            var arr = arrcookie[i].split("=");
            if (arr[0] == "token") {
                return arr[1];
            }
        }
        return "";

    }


    //存储token
    function setToken() {


    }
</script>
</html>
      