<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>云笔记</title>
    <link rel="icon" href="https://001-bucket.oss-cn-shanghai.aliyuncs.com/admin/title.gif" type="image/x-icon"/>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/common.js"></script>
    <style>

        .layui-container {
            width: 100%;
            height: 100%;
            padding: 0 0;
            overflow: hidden;
        }

        .layui-table, .layui-table-view {
            margin: 0 0;
        }

        .layui-form-item {
        }

        .layui-tab-title li {
            display: block;
        }

        .button-space {
            padding: 0 5px;
        }

        .note-title {
            border: none;
        }

        .layadmin-iframe {
            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0
        }

        .group-button {
            height: 35px;
            line-height: 35px;
            padding: 0 13px;
        }

        .footer {
            padding: 30px 0;
            line-height: 30px;
            text-align: center;
            font-weight: 300;
        }

        .footer a {
            padding: 0 5px;
        }
    </style>

    <script>
        //在加载页面之前先判断客户端的是否存在Token
        if (getLocalStorage("token") == null) {
            window.location.href = "/login"; //进入登录界面
        }
    </script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div><a class="layui-logo" id="cloudNote" href="javascript:location.reload();">云笔记平台</a></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <img id="headImage" src="" class="layui-nav-img">
                <span id="headAccountName"></span>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" style="text-align: left;padding-left: 8px">
            <ul class="layui-nav layui-nav-tree" lay-filter="select-type">
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-edit"></i> 我的笔记</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toNotePage"><i class="layui-icon layui-icon-edit"></i> 所有笔记</a>
                        </dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon layui-icon-component"></i> 我的资源</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toImagePage"><i class="layui-icon layui-icon-picture"></i> 图片</a></dd>
                        <dd class="layui-this"><a href="#" id="all"><i class="layui-icon layui-icon-file-b"></i> 文档</a>
                        </dd>
                        <dd><a href="#" id="recycle"><i class="layui-icon layui-icon-delete"></i> 回收站</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-date"></i> 我的日程</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toSchedulePage"><i class="layui-icon layui-icon-form"></i> 我的日程</a>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set"></i> 系统设置</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toInformationPage"><i class="layui-icon layui-icon-user"></i> 用户设置</a></dd>
                        <dd><a href="#" id="toResetPasswordPage"><i class="layui-icon layui-icon-password"></i> 修改密码</a>
                        </dd>
                        <dd><a href="#" id="logout"><i class="layui-icon layui-icon-prev"></i> 注销登录</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>

    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs3">
                    <div class="grid-demo grid-demo-bg1">
                        <div class="layui-row">
                            <div class="layui-col-xs9">
                                <input id="inputSearchFile" type="text" placeholder="搜索" autocomplete="off"
                                       class="layui-input"
                                       style="border-right: none;boder-top:none;border-bottom: none;font-size: 16px"/>
                            </div>
                            <div class="layui-col-xs3">
                                <button id="searchFile" type="button" class="layui-btn layui-btn-primary"
                                        style="border:none;padding: 0 auto;"><i
                                        class="layui-icon layui-icon-search" style="font-size: 32px;"></i>
                                </button>
                            </div>
                        </div>

                        <!--列表信息-->
                        <div class="layui-row">
                            <div class="layui-col-xs12">
                                <table class="layui-hide" lay-skin="ngb" id="fileList" lay-filter="table-filter"
                                       style="border-bottom: none"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--右部分-->
                <div class="layui-col-xs9">
                    <div class="grid-demo">
                        <!--标题区-->
                        <div class="layui-row">

                            <div class="layui-col-xs9 layui-col-sm9">
                                <div class="layui-input-inline" style="width: 100%;float:left;">
                                    <input id="fileWholeName" type="text" name="title"
                                           class="layui-input note-title" lay-verify="title" readonly maxlength="100"
                                           placeholder="标题">
                                </div>
                            </div>

                            <div class="layui-col-md3 layui-col-sm3" style="text-align: center">
                                <div id="buttonGroup" class="layui-btn-group" style="display: block">
                                    <a id="downloadFile" href="" download=""
                                       class="layui-btn layui-btn-primary group-button">下载</a>
                                    <button type="button" class="layui-btn layui-btn-primary group-button"
                                            id="deleteFile">删除
                                    </button>
                                </div>

                                <div id="recycleButton" style="display: none;">

                                    <button id="revertFile" type="button"
                                            style="font-size: 16px; "
                                            class="layui-btn layui-btn-primary group-button">恢复文档
                                    </button>
                                    <button id="completelyRemove" type="button" style="font-size: 16px;"
                                            class="layui-btn layui-btn-primary group-button">彻底删除
                                    </button>

                                </div>

                            </div>
                        </div>

                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <iframe id="showFile" src=""
                                        style="height: 430px;border-bottom: none;border-left: none;border-right: none;"
                                        class="layadmin-iframe"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer footer">
        <div class="layui-main">
            <p>
                <a href="javascript:void(0);">云笔记</a>
                <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow">苏ICP备19045217号</a>
                <a href="javascript:void(0);">联系邮箱:2422321558@qq.com</a>
            </p>
        </div>
    </div>
</div>
</body>

<script th:inline="none">

    //设置全局token
    var token = getLocalStorage("token");

    //设置表头
    $('#headImage').attr('src', localStorage.getItem("headImageUrl"));
    $('#headAccountName').html(localStorage.getItem("headAccountName"));

    var sideId = "all";
    var globalFile = "";

    //预先加载模块
    layui.use(['element', 'form', 'layer', 'upload', 'table'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var upload = layui.upload;
        var table = layui.table;


        //设置下载按钮无反应
        $('#downloadFile').attr('download', "");
        $('#downloadFile').attr('href', "javascript:void(0);");

        initFileList("", "NO");

        //初始化文件列表
        function initFileList(key, recycle) {
            table.render({
                elem: '#fileList',
                where: {token: token, key: key, recycle: recycle},//传递token到服务端
                url: '/source/file_list.json', //默认传递两个参
                height: 'full-140',
                //cellMinWidth: 380, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                cols:
                    [[ //标题栏
                        {field: 'wholeName', title: '点击上传', unresize: true}
                    ]]
                , done:
                    function (res, curr, count) {
                        $('th').css({'text-align': 'center', 'font-size': '17px', 'letter-spacing': '8px'});
                        //完成数据渲染之后的回调
                        init_upload();
                    }
            })
        }

        //加载上传图片功能
        function init_upload() {
            upload.render({
                elem: 'th'
                , size: 0
                , multiple: true    //设置多文件上传
                , headers: {token: token}
                , url: '/source/upload_file.json'
                , accept: 'file'
                , acceptMime: '.pdf,.doc,.docx,.xlsx,.txt'//筛选的文件类型
                , before: function (obj) {
                    obj.preview(function (index, file, result) {

                    });
                }
                , done: function (result) {//每个文件触发一次，回调一次
                    //上传失败
                    if (result.code == 0) {
                        var formData = {
                            "cacheKey": result.data.cache
                        }
                        var jsonData = JSON.stringify(formData);
                        var index = layer.open({
                            type: 1
                            , title: false //不显示标题栏
                            , closeBtn: false
                            , area: ['480px', '200px']
                            , btn: ['yes', 'no']
                            , btnAlign: 'c'
                            , shade: 0.5
                            , moveType: 1 //拖拽模式，0或者1
                            , content: result.message
                            , yes: function (index, layero) {
                                $.ajax({
                                    type: "post",
                                    contentType: "application/json",
                                    dataType: 'json',
                                    data: jsonData,
                                    headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                                    url: "/source/rename_file.json",
                                    error: function (result) {
                                        layer.msg("网络异常!", {icon: 2});
                                    },
                                    success: function (result) {
                                        if (result.code == 1) {
                                            layer.msg(result.message, {icon: 1});
                                            if (sideId == "all") {
                                                initFileList("", "NO");
                                            }/* else {
                                                //回收站下不用刷新
                                                //initFileList("", "YES");
                                            }*/
                                        }
                                    }
                                })
                                layer.close(index);
                            }
                            , btn2: function (index, layero) {
                                $.ajax({
                                    type: "post",
                                    contentType: "application/json",
                                    dataType: 'json',
                                    headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                                    data: jsonData,
                                    url: "/source/no_rename_file.json",
                                    error: function (result) {
                                        layer.msg("网络异常!", {icon: 2});
                                    },
                                    success: function (result) {
                                    }
                                })
                                layer.close(index);
                            }
                        });
                    } else {
                        if (sideId == "all") {
                            initFileList("", "NO");
                        }
                        layer.msg(result.message, {icon: 1});
                    }
                }
                , error: function () {
                    layer.msg("网络异常!", {icon: 2});
                }
            });
        }

        //监听行单击事件（双击事件为：rowDouble）
        table.on('row(table-filter)', function (obj) {
            globalFile = obj.data;
            $('#fileWholeName').val(obj.data.wholeName);
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');

            $('#showFile').attr('src', obj.data.fileUrl);
            $('#downloadFile').attr('download', obj.data.wholeName);
            $('#downloadFile').attr('href', "");

        });

        //删除文件
        $("#deleteFile").click(function () {
            if (globalFile == "") {
                layer.msg("请选择文档!", {icon: 2});
                return;
            }
            $.ajax({
                type: "get",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: {fileId: globalFile.fileId},
                url: "/source/delete_file.json",
                success: function (result) {
                    if (result.code == 1) {
                        $('#fileWholeName').val("");
                        $('#showFile').attr('src', "");
                        $('#downloadFile').attr('download', "");
                        $('#downloadFile').attr('href', "javascript:void(0);");
                        initFileList("", "NO");
                        globalFile = "";
                        layer.msg(result.message, {icon: 1});
                    }else {
                        layer.msg(result.message, {icon: 2});
                    }
                },
            })
        });

        //查询文件
        $("#searchFile").click(function () {
            let key = $("#inputSearchFile").val();
            if (sideId == "all") {
                initFileList(key, "NO");
            } else {
                initFileList(key, "YES");
            }
        });

        //所有文件
        $("#all").click(function () {
            sideId = "all";
            $('#fileWholeName').val("");
            $('#showFile').attr('src', "");
            globalFile = "";
            //设置下载按钮无反应
            $('#downloadFile').attr('download', "");
            $('#downloadFile').attr('href', "javascript:void(0);");
            initFileList("", "NO");
            $('#buttonGroup').css({'display': 'block'});
            $('#recycleButton').css({'display': 'none'});
        });

        //回收站
        $("#recycle").click(function () {
            sideId = "recycle";
            initFileList("", "YES");
            //清空右侧区域
            $('#fileWholeName').val("");
            $('#showFile').attr('src', "");
            $('#buttonGroup').css({'display': 'none'});
            $('#recycleButton').css({'display': 'block'});
            globalFile = "";
        })

        //恢复文件
        $("#revertFile").click(function () {
            if (globalFile == "") {
                layer.msg("请选择文档!", {icon: 2});
                return;
            }
            $.ajax({
                type: "get",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: {fileId: globalFile.fileId},
                url: "/source/revert_file.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message, {icon: 1});
                        $('#fileWholeName').val("");
                        $('#showFile').attr('src', "");
                        initFileList("", "YES");
                        globalFile = "";
                    } else {
                        layer.msg(result.message, {icon: 2});
                    }
                },
            })
        });

        //彻底删除
        $("#completelyRemove").click(function () {
            if (globalFile == "") {
                layer.msg("请选择文档!", {icon: 2});
                return;
            }
            $.ajax({
                type: "get",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: {fileId: globalFile.fileId, filePath: globalFile.filePath},
                url: "/source/completely_remove_file.json",
                success: function (result) {
                    if (result.code == 1) {
                        initFileList("", "YES");
                        layer.msg(result.message, {icon: 1});
                        //清空右侧区域
                        $('#fileWholeName').val("");
                        $('#showFile').attr('src', "");
                        globalFile = "";
                    } else {
                        layer.msg(result.message, {icon: 2});
                    }
                },
            })
        });

        $("#logout").click(function () {
            logout(token);
        })

        $("#toNotePage").click(function () {
            toNotePage(token);
        })

        $("#toImagePage").click(function () {
            toImagePage(token);
        })

        $("#toSchedulePage").click(function () {
            toSchedulePage(token);
        })

        $("#toInformationPage").click(function () {
            toInformationPage(token);
        })

        $("#toResetPasswordPage").click(function () {
            toResetPasswordPage(token);
        })

        $("#toRecycleBinPage").click(function () {
            toRecycleBinPage(token);
        })
    })
</script>
</html>