<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>云笔记</title>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <style>

        .layui-container {
            width: 100%;
            height: 100%;
            padding: 0 0;
            overflow: hidden;
        }

        .layui-table, .layui-table-view {
            margin: 0 0;
        }

        .layui-form-item {
        }

        .layui-tab-title li {
            display: block;
        }

        .button-space {
            padding: 0 5px;
        }

        .note-title {
            border: none;
        }

        .layadmin-iframe {
            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div><a class="layui-logo" id="cloudNote" href="/to_index">云笔记平台</a></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="information">账号设置</a></dd>
                    <dd><a href="">意见反馈</a></dd>
                    <dd><a href="">注销登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" style="text-align: left;padding-left: 8px">
            <ul class="layui-nav layui-nav-tree" lay-filter="select-type">
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-edit"></i> 我的笔记</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="/to_note_page"><i class="layui-icon layui-icon-edit"></i> 创建笔记</a>
                        <dd><a href="/to_note_page"><i class="layui-icon layui-icon-form"></i> 查看</a></dd>
                        </dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-component"></i> 我的资源</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="/image_page"><i class="layui-icon layui-icon-picture"></i> 图片</a></dd>
                        <dd><a href="/file_page"><i class="layui-icon layui-icon-file-b"></i> 文档</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-date"></i> 我的日程</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="/to_schedule_page"><i class="layui-icon layui-icon-form"></i> 查看</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-delete"></i> 回收站</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-home"></i> 全部恢复</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-home"></i> 全部清空</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-home"></i> 查看全部</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set"></i> 系统设置</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="information"><i class="layui-icon layui-icon-user"></i> 账号设置</a></dd>
                        <dd><a href=""><i class="layui-icon layui-icon-logout"></i> 意见反馈</a></dd>
                        <dd><a href=""><i class="layui-icon layui-icon-logout"></i> 注销登录</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>

    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs3">
                    <div class="grid-demo grid-demo-bg1">
                        <div class="layui-row">
                            <div class="layui-col-xs9">
                                <input id="inputSearchFile" type="text" placeholder="搜索" autocomplete="off"
                                       class="layui-input"
                                       style="border-right: none;boder-top:none;border-bottom: none;font-size: 16px"/>
                            </div>
                            <div class="layui-col-xs3">
                                <button id="searchFile" type="button" class="layui-btn layui-btn-primary"
                                        style="border:none;padding: 0 auto;"><i
                                        class="layui-icon layui-icon-search" style="font-size: 32px;"></i>
                                </button>
                            </div>
                        </div>

                        <!--列表信息-->
                        <div class="layui-row">
                            <div class="layui-col-xs12">
                                <table class="layui-hide" lay-skin="ngb" id="fileList" lay-filter="table-filter"
                                       style="border-bottom: none"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--右部分-->
                <div class="layui-col-xs9">
                    <div class="grid-demo">
                        <!--标题区-->
                        <div class="layui-row">
                            <div class="layui-col-xs9">
                                <div class="grid-demo">
                                    <div class="layui-input-inline" style="width: 100%;float:left;">
                                        <input id="fileWholeName" type="text" name="title"
                                               class="layui-input note-title" lay-verify="title" readonly
                                               placeholder="标题">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs3">
                                <div class="grid-demo">
                                    <div class="layui-btn-group" style="float:right">
                                        <button id="downloadFile" type="button"
                                                class="layui-btn layui-btn-primary"
                                                style="border:none;padding: 0 5px;"><i
                                                class="layui-icon layui-icon-download-circle"
                                                style="font-size: 32px;"></i></button>
                                        <button id="deleteFile" type="button" class="layui-btn layui-btn-primary"
                                                button-space style="border:none;padding: 0 5px;"><i
                                                class="layui-icon layui-icon-delete" style="font-size: 32px;"></i>
                                        </button>
                                        <button type="button" class="layui-btn layui-btn-primary"
                                                style="border:none;padding: 0 5px;"><i
                                                class="layui-icon layui-icon-about" style="font-size: 32px;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <iframe id="showFile" src="" style="height: 430px" class="layadmin-iframe"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="layui-footer layui-bg-black">
        © layui.com - 底部固定区域
    </div>
</div>
</body>

<script th:inline="none">

    //预先加载模块
    layui.use(['element', 'form', 'layer', 'upload', 'table'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var upload = layui.upload;
        var table = layui.table;

        //获取token
        var token = sessionStorage.getItem("token");

        var globalFileUrl = "";
        var globalFileId = "";
        var globalFilePath = "";
        var fileKey = "";
        var table_reload = table.render({
            elem: '#fileList',
            where: {token: token, key: fileKey},//传递token到服务端
            url: 'http://localhost:8080/source/file_list.json', //默认传递两个参
            height: 'full-140',
            //cellMinWidth: 380, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            cols:
                [[ //标题栏
                    {field: 'showName', title: '点击上传', unresize: true}
                ]]
            , done:
                function (res, curr, count) {
                    $('th').css({'text-align': 'center', 'font-size': '17px', 'letter-spacing': '8px'});
                    //完成数据渲染之后的回调
                    init_upload();
                }
        })

        //加载上传图片功能
        function init_upload() {
            upload.render({
                elem: 'th'
                , size: 0
                , multiple: true    //设置多文件上传
                , headers: {token: token}
                , url: 'http://localhost:8080/source/upload_file.json'
                , accept: 'file'
                , acceptMime: '.pdf'//筛选的文件类型
                , before: function (obj) {
                    obj.preview(function (index, file, result) {
                        //$('#show-image').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (result) {//每个文件触发一次，回调一次
                    if (result.code == 0) {
                        var formData = {
                            "cacheKey": result.data.cache
                        }
                        var jsonData = JSON.stringify(formData);
                        var index = layer.open({
                            type: 1
                            , title: false //不显示标题栏
                            , closeBtn: false
                            , area: '300px;'
                            , btn: ['yes', 'no']
                            , btnAlign: 'c'
                            , shade: 0.5
                            , moveType: 1 //拖拽模式，0或者1
                            , content: result.message
                            , yes: function (index, layero) {
                                $.ajax({
                                    type: "post",
                                    contentType: "application/json",
                                    dataType: 'json',
                                    data: jsonData,
                                    headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                                    url: "http://localhost:8080/source/rename_file.json",
                                    error: function (result) {
                                        alert("error");
                                    },
                                    success: function (result) {
                                        if (result.code == 1) {
                                            table_reload.reload();//刷新数据
                                        }
                                    }
                                })
                                layer.close(index);
                            }
                            , btn2: function (index, layero) {
                                $.ajax({
                                    type: "post",
                                    contentType: "application/json",
                                    dataType: 'json',
                                    headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                                    data: jsonData,
                                    url: "http://localhost:8080/source/no_rename_file.json",
                                    error: function (result) {
                                        alert("error");
                                    },
                                    success: function (result) {
                                    }
                                })
                                layer.close(index);
                            }
                        });
                    } else {
                        table_reload.reload();//刷新数据
                        return layer.msg(result.message);
                    }
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    /* var demoText = $('#demoText');
                     demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                     demoText.find('.demo-reload').on('click', function () {
                         uploadInst.upload();
                     });*/
                }
            });
        }

        //监听行单击事件（双击事件为：rowDouble）
        table.on('row(table-filter)', function (obj) {
            //单机时获取当前数据，存储在全局变量之中，然后点击删除或者下载按钮，最后清除数据
            globalFileUrl = obj.data.fileUrl;
            globalFileId = obj.data.fileId;
            globalFilePath = obj.data.filePath;

            if (globalFileUrl == null) {
                var jsonData = JSON.stringify(obj.data);
                $.ajax({
                    type: "post",
                    contentType: "application/json",
                    dataType: 'json',
                    headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                    data: jsonData,
                    url: "http://localhost:8080/source/get_file_url.json",
                    success: function (result) {
                        $('#showFile').attr('src', result.message);//文件显示

                    },
                })
            } else {
                $('#showFile').attr('src', globalFileUrl);
            }
            //显示标题
            $('#fileWholeName').val(obj.data.wholeName);
            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });

        //下载图片
        $("#downloadFile").click(function () {
            if (globalFileUrl == "") {
                layer.msg('请先选择文件!');
                return;
            }
            location.href = globalFileUrl;
        });

        //删除图片
        $("#deleteFile").click(function () {
            if (globalFileId == "") {
                layer.msg('请先选择文件!');
                return;
            }
            var data = {
                "fileId": globalFileId,
                "filePath": globalFilePath
            }
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "http://localhost:8080/source/delete_file.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg('删除成功!');
                        $('#fileWholeName').val("");
                        $('#showFile').attr('src', "");
                        table_reload.reload();//刷新数据
                    }
                },
            })
        });


        //查询文件
        $("#searchFile").click(function () {
            fileKey = $("#inputSearchFile").val();
            //清空右侧区域
            $('#showFile').attr('src', "");
            $('#fileWholeName').val("");
            //重新将table渲染一次
            table_reload.reload({where: {token: token, key: fileKey}});
        });

        /*  //获得焦点时发生事件
          $("#fileWholeName").focus(function () {
              var fileName = $("#fileWholeName").val();
              $("#fileWholeName").val(fileName.substr(0, fileName.indexOf(".")))
          });*/

        //失去焦点时自动保存
        /* $("#fileWholeName").blur(function () {
             var fileName = $("#fileWholeName").val();
             var formData = {
                 "fileName":fileName,
                 "fileId":globalFileId
             }
             var jsonData = JSON.stringify(formData);
             $.ajax({
                 type: "post",
                 contentType: "application/json",
                 dataType: 'json',
                 headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                 data: jsonData,
                 url: "http://localhost:8080/source/update_file.json",
                 success: function (result) {
                     if (result.code == 1) {
                         layer.msg('删除成功!');
                         $('#fileWholeName').val("");
                         $('#showFile').attr('src', "");
                         table_reload.reload();//刷新数据
                     }
                 },
             })
         });*/
    })
</script>
</html>