<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>云笔记</title>
    <link rel="icon" href="https://001-bucket.oss-cn-shanghai.aliyuncs.com/admin/title.gif" type="image/x-icon"/>
    <!--引入layui-->
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/admin.css" type='text/css'>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/login.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <!--引入jquery-->
    <script src="../static/jquery-3.4.1.min.js"></script>
    <style>
        .layadmin-user-login-footer a {
            padding: 0 5px;
        }
    </style>
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>cloud note</h2>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form" style="display: none" id="div1">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-email"
                       for="email"></label>
                <input type="text" name="email2" id="email2" lay-verify="email" placeholder="邮箱"
                       class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="AccountPassword"></label>
                <input type="password" name="accountPassword" id="accountPassword" lay-verify="required"
                       placeholder="新密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="confirmPassword"></label>
                <input type="password" name="confirmPassword" id="confirmPassword" lay-verify="required"
                       placeholder="确认密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter=resetPassword>重置新密码</button>
            </div>
        </div>

        <div class="layadmin-user-login-box layadmin-user-login-body layui-form" id="div2">
            <div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-email"
                           for="email"></label>
                    <input type="text" name="email" id="email" lay-verify="email" placeholder="邮箱"
                           class="layui-input">
                </div>

                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-xs7">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                                   for="securityCode"></label>
                            <input type="text" name="securityCode" id="securityCode" required="required"
                                   placeholder="请输入六位验证码" class="layui-input">
                        </div>
                        <div class="layui-col-xs5">
                            <div style="margin-left: 10px;">
                                <button type="button" id="securityCodeButton"
                                        class="layui-btn layui-btn-primary layui-btn-fluid" lay-submit
                                        lay-filter="securityCodeButton">
                                    获取验证码
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="findPassword">找回密码</button>
                </div>

                <div class="layui-trans layui-form-item layadmin-user-login-other">

                </div>
            </div>

        </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">
        <p>
            <a href="javascript:void(0);">云笔记</a>
            <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow">苏ICP备19045217号</a>
            <a href="javascript:void(0);">联系邮箱:2422321558@qq.com</a>
        </p>
    </div>
</div>
</body>
<script type="text/javascript">

    //设置全局的验证码
    let firstSecurityCode = "";
    let globalAccountId = "";
    let golbalEmail = "";
    //加载登录表单
    layui.use(['element', 'form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;

        //找回密码，进入重置密码界面
        form.on('submit(findPassword)', function (data) {

            var data =
                {
                    "firstSecurityCode": firstSecurityCode,
                    "secondSecurityCode": data.field.securityCode
                };
            var jsonData = JSON.stringify(data);

            $.ajax({
                type: "post",
                contentType: "application/json",
                data: jsonData,
                url: "/account/check_security_code1.json",
                error: function (result) {
                    alert("网络出现异常!");
                },
                success: function (result) {
                    if (result.code == 1) {
                        $("#div1").css("display", "block");
                        $("#div2").css("display", "none");
                        $("#email2").val(golbalEmail);
                        $("#email2").attr("disabled", true);
                    } else {
                        layer.msg(result.message, {icon: 2});
                    }
                }
            });
        });

        //重置新的密码
        form.on('submit(resetPassword)', function (data) {
            var jsonData = JSON.stringify({
                "accountId": globalAccountId,
                "email": golbalEmail,
                "confirmPassword": data.field.confirmPassword,
                "accountPassword": data.field.accountPassword
            });
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: jsonData,
                url: "/account/reset_password.json",
                error: function (result) {
                    alert("网络出现异常!");
                },
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message, {icon: 1});
                        setTimeout(function () {
                            window.location.href = "/login"; //进入登录界面
                        }, 1000);
                    } else {
                        layer.msg(result.message, {icon: 2});
                    }
                }
            });
        });

        /**
         * 发送验证码
         */
        form.on('submit(securityCodeButton)', function (data) {

            var data1 =
                {
                    "email": data.field.email
                };
            var dataJson = JSON.stringify(data1);
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: dataJson,
                url: "/account/send_security_code.json",
                error: function () {
                    alert("网络出现异常");
                },
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message, {icon: 1});
                        firstSecurityCode = result.data.securityCode;
                        globalAccountId = result.data.accountId;
                        golbalEmail = data.field.email
                    } else {
                        layer.msg(result.message, {icon: 2});
                    }
                }
            });
        });
    })
</script>
</html>
