<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>用户登录</title>

    <!--引入layui-->
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/admin.css" type='text/css'>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/login.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <!--引入jquery-->
    <script src="../static/jquery-3.4.1.min.js"></script>
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show" style="display: none;">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>cloud note</h2>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form" style="display: none" id="div1">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="AccountPassword"></label>
                <input type="password" name="AccountPassword" id="AccountPassword" lay-verify="required"
                       placeholder="新密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="confirmPassword"></label>
                <input type="password" name="confirmPassword" id="confirmPassword" lay-verify="required"
                       placeholder="确认密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter=resetPassword>重置新密码</button>
            </div>
        </div>

        <div class="layadmin-user-login-box layadmin-user-login-body layui-form" id="div2">
            <!--验证邮箱-->
            <div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-email"
                           for="email"></label>
                    <input type="text" name="email" id="email" lay-verify="email" placeholder="邮箱"
                           class="layui-input">
                </div>

                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-xs7">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                                   for="securityCode"></label>
                            <input type="text" name="securityCode" id="securityCode" lay-verify="required"
                                   placeholder="邮箱验证码" class="layui-input">
                        </div>
                        <div class="layui-col-xs5">
                            <div style="margin-left: 10px;">
                                <button type="button" id="securityCodeButton"
                                        class="layui-btn layui-btn-primary layui-btn-fluid">
                                    获取验证码
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="findPassword">找回密码</button>
                </div>

                <div class="layui-trans layui-form-item layadmin-user-login-other">
                    <!--<label>社交账号登入</label>
                    <a href="javascript:;"><i class="layui-icon layui-icon-login-qq"></i></a>
                    <a href="javascript:;"><i class="layui-icon layui-icon-login-wechat"></i></a>
                    <a href="javascript:;"><i class="layui-icon layui-icon-login-weibo"></i></a>-->
                    <!--  <a href="register" class="layadmin-user-jump-change layadmin-link">注册帐号</a>-->
                </div>
            </div>

        </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">

    </div>
</div>
</body>
<script type="text/javascript">

    //设置全局的验证码
    var tempSecurityCode = "";

    //加载登录表单
    layui.use(['element', 'form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;

        //找回密码
        form.on('submit(findPassword)', function (data) {
            var securityCode = data.field.securityCode;
            var formData =
                {
                    "securityCode": securityCode,
                    "tempSecurityCode": tempSecurityCode
                };
            var dataJson = JSON.stringify(formData);
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: dataJson,
                url: "http://localhost:8080/account/security_code1.json",
                error: function () {
                    alert("网络出现异常");
                },
                success: function (result) {
                    if (result.code == 1) {

                        $("#div1").css("display", "block");
                        $("#div2").css("display", "none");

                    } else {
                        layer.msg(result.message);
                    }
                }
            });
        });

        //重置新的密码
        form.on('submit(resetPassword)', function (data) {
            var accountPassword = data.field.accountPassword;
            var confirmPassword = data.field.confirmPassword;
            var email = $("#email").val();
            var formData =
                {
                    "confirmPassword": confirmPassword,
                    "accountPassword": accountPassword,
                    "email": email
                };
            var jsonData = JSON.stringify(formData);
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: jsonData,
                url: "http://localhost:8080/account/register",
                error: function (result) {
                    alert("网络出现异常!");
                },
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message, function () {
                                window.location.href = "/login";//进入登录页面
                            }
                        );
                    } else {
                        layer.msg(result.message);
                    }
                }
            })
            ;
        });


        /**
         * 发送验证码
         */
        $("#securityCodeButton").click(function () {
            var emailAddress = $('#email').val();
            var data =
                {
                    "emailAddress": emailAddress
                };
            var dataJson = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: dataJson,
                url: "http://localhost:8080/account/security_code1.json",
                error: function () {
                    alert("网络出现异常");
                },
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        tempSecurityCode = result.data.securityCode;
                        layer.msg(result.message);
                    } else {
                        layer.msg(result.message);
                    }
                }
            });
        });
    })
</script>
</html>
