<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>主页</title>

    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>

    <style>
        .layui-side.layui-bg-black {
            width: 100px;
        }

        .layui-table-grid-down {
            display: none;
        }

        .layui-nav-tree {
            width: 100px;
        }

        .layui-body {
            left: 100px;
        }

        .layui-footer1 {
            position: fixed;
            left: 100px;
            right: 0;
            bottom: 0;
            height: 35px;
            line-height: 35px;
            padding: 0 15px;
        }

        .note-title {
            border: none;
        }


    </style>
</head>

<body>
<!--顶部导航栏-->
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">

        <div><a class="layui-logo" id="cloudNote" href="/to_index">云笔记平台</a></div>

        <div class=" layui-nav layui-layout-left">
            <li class="layui-nav-item"><a id="my-note" href="">我的笔记</a></li>
            <li class="layui-nav-item"><a id="my-event" href="">我的活动</a></li>
            <li class="layui-nav-item"><a id="my-source" href="">我的资源</a></li>
        </div>

        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item">
                <div class="layui-input-inline">
                    <input type="text" id="key" name="key" required lay-verify="required"
                           autocomplete="off" class="layui-input"
                           style="width: 100%; height: 30px;line-height: 30px;padding:0 10px;margin-top: 2px;">
                </div>

                <div class="layui-input-inline" style="margin-right: 15px; ">

                    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-filter="selectNoteByKey">搜索</button>

                </div>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人信息</a></dd>
                    <dd><a href="">账号信息</a></dd>
                    <dd><a href="/to_editPassword">修改密码</a></dd>
                    <dd><a href="">意见反馈</a></dd>
                    <dd><a href="">注销登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">

            <ul class="layui-nav layui-nav-tree" lay-filter="test">

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">笔记</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">学习</a></dd>
                        <dd><a href="javascript:;">工作</a></dd>
                        <dd><a href="javascript:;">生活</a></dd>
                        <dd><a href="javascript:;">旅游</a></dd>
                        <dd><a href="javascript:;">随笔</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">回收站</a>
                    <dl class="layui-nav-child" style="text-align: left">
                        <dd><a href="javascript:;">全部恢复</a></dd>
                        <dd><a href="javascript:;">全部清空</a></dd>
                        <dd><a href="javascript:;">查看全部</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">

        <div class="layui-row">

            <div class="layui-col-xs5">
                <div class="grid-demo grid-demo-bg1" style="margin-left: 1px;">
                    <table class="layui-hide layui-table-grid-down" id="note_list" lay-filter="note-table"></table>
                </div>
            </div>

            <div class="layui-col-xs7">
                <div class="grid-demo">
                    <form class="layui-form" action="post">
                        <div class="layui-form-item" style="margin: 8px 0;">

                            <div class="layui-input-inline" style="width: 66%;float:left;">
                                <input type="text" id="note-title" name="noteTitle" class="layui-input note-title"
                                       placeholder="标题">
                            </div>
                            <!--框架有问题-->
                            <div class="layui-input-inline" style="width: 14%; ">
                                <select name="noteType" id="note-type">
                                    <option value="0">默认</option>
                                    <option value="1">学习</option>
                                    <option value="2">工作</option>
                                    <option value="3">生活</option>
                                    <option value="4">旅游</option>
                                    <option value="5">随笔</option>
                                </select>
                            </div>

                            <div class="layui-input-inline" style="width: 14%;float:right;">
                                <button type="button" class="layui-btn layui-btn-fluid" lay-submit
                                        lay-filter="saveNote">保存
                                </button>
                            </div>

                        </div>

                        <div class="layui-form-item">
                            <textarea id="note-content" name="noteContent" placeholder="请输入内容"
                                      class="layui-textarea" lay-verify="content"></textarea>
                        </div>
                    </form>
                </div>
            </div>

        </div>


    </div>


    <div class="layui-footer1 layui-bg-black">
        © layui.com - 底部固定区域
    </div>
</div>
</body>

<script th:inline="none">

    //预先加载模块
    layui.use(['table', 'element', 'form', 'layer', 'layedit'], function () {
        var form = layui.form;
        var layedit = layui.layedit;
        var table = layui.table;
        var layer = layui.layer;

        var index = layedit.build('note-content', {
                height: 340
            }//设置编辑器高度
        );
        //将编辑器中的数据同步到textarea中，然后从textarea中获取数据
        form.verify({
            content: function () {
                layedit.sync(index)
            }
        });

        var token = sessionStorage.getItem("token");//获取token

        //方法级自动渲染表单数据
        var table_reload = table.render({
            elem: '#note_list',
            where: {token: token},//传递token到服务端
            url: 'http://localhost:8080/note/note_list', //默认传递两个参数
            toolbar: '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
            defaultToolbar: [{ //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可width：xx
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }],
            cols: [[ //标题栏
                {type: 'checkbox'},
                {field: 'noteId', title: 'ID', width: 60, sort: true},
                {field: 'noteTitle', title: '笔记标题', width: 509}
            ]],
            page: true
        });

        //监听头部左侧工具栏
        table.on('toolbar(note-table)', function (obj) {
            //获取选中的行
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'update':
                    if (checkStatus.data.length != 1) {
                        layer.msg("请选择一条数据!");
                    } else {
                        var data = checkStatus.data;

                        var noteContent = data[0].noteContent;
                        var noteType = data[0].typeId;
                        var noteTitle = data[0].noteTitle;
                        //赋值操作
                        $('#note-title').val(noteTitle);
                        layedit.setContent(index, noteContent);
                    }
                    break;
                case 'delete':
                    if (checkStatus.data.length < 1) {
                        layer.msg("请选择至少一条数据!");
                    } else {
                        var data = checkStatus.data;
                        var jsonData = JSON.stringify(data);//此时传递到服务端的是一个json数组
                        //确认弹窗
                        layer.confirm('确认删除吗?', {icon: 3, title: '提示'}, function (index) {
                            layer.close(index);
                            $.ajax({
                                type: "post",
                                contentType: "application/json",
                                dataType: 'json',
                                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                                data: jsonData,
                                url: "http://localhost:8080/note/delete_note",
                                error: function (result) {
                                    alert(result);
                                },
                                success: function (result) {
                                    if (result.code == 1) {
                                        layer.open({
                                            title: '提示',
                                            content: result.message,
                                            btn: [],
                                            time: 1500,
                                            shade: 0.6,
                                            offset: 'auto',
                                            area: ['200px', '120px'],
                                            end: function () {
                                                //刷新表格
                                                table_reload.reload({
                                                    where: {token: token},
                                                });
                                            }
                                        });
                                    } else {
                                        layer.open({
                                            title: '提示',
                                            content: result.message,
                                            btn: [],
                                            time: 1500,
                                            shade: 0.6,
                                            offset: 'auto',
                                            area: ['200px', '120px']
                                        });
                                    }
                                }
                            })
                        });
                    }
                    break;
                case 'check':
                    if (checkStatus.data.length != 1) {
                        layer.msg("请选择一条数据!");
                    } else {
                        layui.open({})
                    }
                    break;
            };
        });

        //保存按钮监听
        form.on('submit(saveNote)', function () {
            var noteContent = layedit.getContent(index);
            var noteTitle = $('#note-title').val();
            var noteType = $('#note-type').val();

            if (noteTitle == "" || noteTitle == null || noteTitle == undefined) {
                alert("标题不能为空!");
                return;
            }
            if (noteContent == "" || noteContent == null || noteContent == undefined) {
                alert("内容不能为空!");
                return;
            }

            if (noteType == "" || noteType == null || noteType == undefined) {
                alert("类型是否设置为默认值?");
            }
            var data = {
                "noteContent": noteContent,
                "noteTitle": noteTitle,
                "noteType": noteType
            };
            var jsonData = JSON.stringify(data);//转换为json字符串
            var token = sessionStorage.getItem("token");
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},//将token信息存储在header是中
                data: jsonData,
                url: "http://localhost:8080/note/save_note",
                error: function (result) {
                },
                success: function (result) {//传递过来的是json对象
                    if (result.code == 1) {
                        layer.open({
                            title: '提示',
                            content: result.message,
                            btn: [],
                            time: 1500,
                            shade: 0.6,
                            offset: 'auto',
                            area: ['200px', '120px'],
                            end: function () {
                                $('#note-type').val(0);
                                $('#note-title').val('');
                                //刷新表格
                                table_reload.reload({
                                    where: {token: token},
                                });
                                layedit.setContent(index, "");
                            }
                        });
                    } else {
                        layer.open({
                            title: '提示',
                            content: result.message,
                            btn: [],
                            time: 2000,
                            shade: 0.6,
                            offset: 'auto',
                            area: ['200px', '120px'],
                            end: function () {
                                location.reload();//刷新当前页面
                            }
                        });
                    }
                }
            })
        })


        //查询关键字
        form.on('submit(selectNoteByKey)', function () {
            var noteType = $('#key').val();
            var data = {
                "key": key
            }


        })
    });


</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="check">查看</button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="delete">删除</button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="update">修改</button>
    </div>
</script>

</html>