<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>云笔记</title>
    <link rel="icon" href="https://001-bucket.oss-cn-shanghai.aliyuncs.com/admin/title.gif" type="image/x-icon"/>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/common.js"></script>
    <style>

        .layui-container {
            width: 100%;
            height: 100%;
            padding: 0 0;
            overflow: hidden;
        }

        .layui-table, .layui-table-view {
            margin: 0 0;
        }

        .layui-form-item {
        }

        .layui-tab-title li {
            display: block;
        }

        .button-space {
            padding: 0 5px;
        }

        .note-title {
            border: none;
        }

        .group-button {
            height: 35px;
            line-height: 35px;
            padding: 0 13px;
        }

    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        <div><a class="layui-logo" id="cloudNote" href="javascript:location.reload();">云笔记平台</a></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <img id="headImage" src="" class="layui-nav-img">
                <span id="headAccountName"></span>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" style="text-align: left;padding-left: 8px">
            <ul class="layui-nav layui-nav-tree" lay-filter="select-type">
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-edit"></i> 我的笔记</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toNotePage"><i class="layui-icon layui-icon-form"></i> 所有笔记</a></dd>
                        </dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon layui-icon-component"></i> 我的资源</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd class="layui-this"><a href="#" id="all"><i class="layui-icon layui-icon-picture"></i> 图片</a>
                        </dd>
                        <dd><a href="#" id="toFilePage"><i class="layui-icon layui-icon-file-b"></i> 文档</a></dd>
                        <dd><a href="#" id="recycle"><i class="layui-icon layui-icon-file-b"></i> 回收站</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-date"></i> 我的日程</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toSchedulePage"><i class="layui-icon layui-icon-form"></i> 我的日程</a>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set"></i> 系统设置</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toInformationPage"><i class="layui-icon layui-icon-user"></i> 用户设置</a></dd>
                        <dd><a href="#" id="toResetPasswordPage"><i class="layui-icon layui-icon-password"></i> 修改密码</a>
                        </dd>
                        <dd><a href="#" id="logout"><i class="layui-icon layui-icon-prev"></i> 注销登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs3">
                    <div class="grid-demo grid-demo-bg1">
                        <div class="layui-row">
                            <div class="layui-col-xs9">
                                <input id="input-search-image" type="text" placeholder="搜索" autocomplete="off"
                                       class="layui-input"
                                       style="border-right: none;boder-top:none;border-bottom: none;font-size: 16px"/>
                            </div>
                            <div class="layui-col-xs3">
                                <button id="search-image" type="button" class="layui-btn layui-btn-primary"
                                        style="border:none;padding: 0 auto;"><i
                                        class="layui-icon layui-icon-search" style="font-size: 32px;"></i>
                                </button>
                            </div>
                        </div>

                        <!--列表信息-->
                        <div class="layui-row">
                            <div class="layui-col-xs12">
                                <table class="layui-hide" lay-skin="ngb" id="image-list" lay-filter="table-filter"
                                       style="border-bottom: none"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--右部分-->
                <div class="layui-col-xs9">
                    <div class="grid-demo">
                        <!--标题区-->
                        <div class="layui-row">
                            <div class="layui-col-xs9 layui-col-sm9">
                                <div class="layui-input-inline" style="width: 100%;float:left;">
                                    <input id="imageWholeName" type="text" name="title" readonly
                                           class="layui-input note-title" lay-verify="title" maxlength="100"
                                           placeholder="标题">
                                </div>
                            </div>

                            <div class="layui-col-md3 layui-col-sm3" style="text-align: center">
                                <div id="buttonGroup" class="layui-btn-group" style="display: block">

                                    <button type="button" class="layui-btn layui-btn-primary group-button"
                                            id="downloadImage"> 下载
                                    </button>

                                    <button type="button" class="layui-btn layui-btn-primary group-button"
                                            id="deleteImage">删除
                                    </button>
                                </div>

                                <div id="recycleButton" style="display: none;">
                                    <button id="revertImage" type="button"
                                            style="font-size: 16px; "
                                            class="layui-btn layui-btn-primary group-button">恢复图片
                                    </button>
                                    <button id="completelyRemove" type="button" style="font-size: 16px;"
                                            class="layui-btn layui-btn-primary group-button">彻底删除
                                    </button>
                                </div>
                            </div>
                        </div>

                        </p>
                        <!--图片显示区-->
                        <div class="layui-row">
                            <div class="layui-col-xs12">
                                <div class="grid-demo grid-demo-bg1">
                                    <div class="layui-upload-drag" style="width: 100%;height: 430px;padding: 2px;">
                                        <img id="showImage"
                                             style="max-width: 100%;max-height: 100%; top:0;left:0;right: 0;bottom: 0;margin: auto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部固定区域 -->
    <div class="layui-footer layui-bg-black">
        <div class="layui-main">
            <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow" style="color: #fffbf0;">苏ICP备19045217号</a>
        </div>
    </div>
</div>
</body>

<script th:inline="none">


    //获取token
    var token = sessionStorage.getItem("token");

    //设置表头
    $('#headImage').attr('src', sessionStorage.getItem("headImageUrl"));
    $('#headAccountName').html(sessionStorage.getItem("headAccountName"));

    var globalImage = "";

    var sideId = "all";

    //预先加载模块
    layui.use(['element', 'form', 'layer', 'upload', 'table'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var upload = layui.upload;
        var table = layui.table;

        var table_reload = table.render({
            elem: '#image-list',
            where: {token: token, key: "", isRecycle: "NO"},//传递token到服务端
            url: '/source/image_list.json', //默认传递两个参
            height: 'full-140',
            cols:
                [[ //标题栏
                    {field: 'wholeName', title: '点击上传', unresize: true}
                ]]
            , done:
                function (res, curr, count) {
                    $('th').css({'text-align': 'center', 'font-size': '17px', 'letter-spacing': '8px'});
                    //完成数据渲染之后的回调
                    init_upload();
                }
        })

        //加载上传图片功能
        function init_upload() {
            upload.render({
                elem: 'th'
                , size: 0
                , multiple: true    //设置多图片上传
                , headers: {token: token}
                , url: '/source/upload_image.json'
                , accept: 'images'
                , acceptMime: '.jpg,.png,.jpeg,.gif,.bmp'
                , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                    obj.preview(function (index, file, result) {

                    });
                }
                , done: function (result, index, upload) {//每个文件触发一次，回调一次
                    if (result.code == 0) {//失败，存在重名图片
                        var formData = {
                            "cacheKey": result.data.cache
                        }
                        var jsonData = JSON.stringify(formData);
                        var index = layer.open({
                            type: 1
                            , title: false //不显示标题栏
                            , skin: 'layui-layer-rim'
                            , closeBtn: false
                            , area: ['480px', '200px']
                            , btn: ['是', '否']
                            , btnAlign: 'c'
                            , shade: 0.5
                            , moveType: 1 //拖拽模式，0或者1
                            , content: result.message
                            , yes: function (index, layero) {
                                $.ajax({
                                    type: "post",
                                    contentType: "application/json",
                                    dataType: 'json',
                                    data: jsonData,
                                    headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                                    url: "/source/rename_image.json",
                                    error: function (result) {
                                        alert("error");
                                    },
                                    success: function (result) {
                                        if (result.code == 1) {
                                            layer.msg(result.message);
                                            table_reload.reload();//刷新数据
                                        }
                                    }
                                })
                                layer.close(index);
                            }
                            , btn2: function (index, layero) {
                                $.ajax({
                                    type: "post",
                                    contentType: "application/json",
                                    dataType: 'json',
                                    headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                                    data: jsonData,
                                    url: "/source/no_rename_image.json",
                                    error: function (result) {
                                        alert("error");
                                    },
                                    success: function (result) {
                                    }
                                })
                                layer.close(index);
                            }
                        });
                    } else if (result.code == 2) {
                        layer.msg(result.message);
                    } else {
                        table_reload.reload();//刷新数据
                        return layer.msg(result.message);
                    }
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    /* var demoText = $('#demoText');
                     demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                     demoText.find('.demo-reload').on('click', function () {
                         uploadInst.upload();
                     });*/
                }
            });
        }

        //查看图片
        table.on('row(table-filter)', function (obj) {
            globalImage = obj.data;
            $('#showImage').attr('src', obj.data.imageUrl);//显示图片
            $('#imageWholeName').val(obj.data.wholeName);  //显示标题
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');//样式设置
        });

        //下载图片
        $("#downloadImage").click(function () {
            if (globalImage == "") {
                layer.msg('请先选择图片!');
                return;
            }
            location.href = globalImage.imageUrl;
        });

        //删除图片
        $("#deleteImage").click(function () {
            if (globalImage == "") {
                layer.msg("请先选择图片!");
                return;
            }
            $.ajax({
                type: "get",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: {imageId: globalImage.imageId},
                url: "/source/delete_image.json",
                success: function (result) {
                    if (result.code == 1) {
                        table_reload.reload({where: {token: token, key: "", isRecycle: "NO"}});
                        layer.msg('删除成功!');
                        $('#imageWholeName').val("");
                        $('#showImage').attr('src', "");
                        globalImage = "";
                    }
                },
            })
        });

        //查询图片
        $("#search-image").click(function () {
            var imageKey = $("#input-search-image").val();
            if (sideId == "all") {
                table_reload.reload({where: {token: token, key: imageKey, isRecycle: "NO"}});
            } else {
                table_reload.reload({where: {token: token, key: imageKey, isRecycle: "YES"}});
            }

            //清空右侧区域
            $('#showImage').attr('src', "");
            $('#imageWholeName').val("");
            globalImage = "";

        });

        //所有图片
        $("#all").click(function () {
            $('#imageWholeName').val("");
            $('#showImage').attr('src', "");
            globalImage = "";
            table_reload.reload({where: {token: token, key: "", isRecycle: "NO"}});

            $('#buttonGroup').css({'display': 'block'});
            $('#recycleButton').css({'display': 'none'});
        });

        //回收站
        $("#recycle").click(function () {
            sideId = "recycle";
            table_reload.reload({where: {token: token, key: "", isRecycle: "YES"}});
            //清空右侧区域
            $('#showImage').attr('src', "");
            $('#imageWholeName').val("");
            $('#buttonGroup').css({'display': 'none'});
            $('#recycleButton').css({'display': 'block'});
            globalImage = "";
        })

        //恢复图片
        $("#revertImage").click(function () {
            if (globalImage == "") {
                layer.msg("请先选择图片!");
                return;
            }
            $.ajax({
                type: "get",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: {imageId: globalImage.imageId},
                url: "/source/revert_image.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        //清空右侧区域
                        $('#showImage').attr('src', "");
                        $('#imageWholeName').val("");
                        table_reload.reload({where: {token: token, key: "", isRecycle: "YES"}});
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        });


        //彻底删除
        $("#completelyRemove").click(function () {
            if (globalImage == "") {
                layer.msg("请先选择图片!");
                return;
            }
            $.ajax({
                type: "get",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: {imageId: globalImage.imageId, imagePath: globalImage.imagePath},
                url: "/source/completely_remove_image.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        //清空右侧区域
                        $('#showImage').attr('src', "");
                        $('#imageWholeName').val("");
                        table_reload.reload({where: {token: token, key: "", isRecycle: "YES"}});
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        });

        $("#logout").click(function () {
            //清空sessionStorage
            sessionStorage.removeItem("token");
            sessionStorage.removeItem("headAccountName");
            sessionStorage.removeItem("headImageUrl");
            logout(token);
        })

        $("#toNotePage").click(function () {
            toNotePage(token);
        })

        $("#toFilePage").click(function () {
            toFilePage(token);
        })

        $("#toSchedulePage").click(function () {
            toSchedulePage(token);
        })

        $("#toInformationPage").click(function () {
            toInformationPage(token);
        })

        $("#toResetPasswordPage").click(function () {
            toResetPasswordPage(token);
        })

        $("#toRecycleBinPage").click(function () {
            toRecycleBinPage(token);
        })
    })
</script>
</html>