<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>云笔记</title>
    <link rel="icon" href="https://001-bucket.oss-cn-shanghai.aliyuncs.com/admin/title.gif" type="image/x-icon"/>
    <!--引入layui-->
    <link rel='stylesheet' type='text/css' media='screen' href='../static/layui-v2.5.5/layui/css/layui.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/cropper/cropper.css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script src="../static/cropper/cropper.js"></script>
    <script src="../static/cropper/croppers.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/common.js"></script>
    <style>
        .layuiadmin-card-list {
            padding: 10px
        }

        .footer {
            padding: 30px 0;
            line-height: 30px;
            text-align: center;
            font-weight: 300;
        }

        .footer a {
            padding: 0 5px;
        }

        h3 {
            width: auto;
            height: 48px;
            line-height: 48px;
            font-size: 15px;
            font-family: 宋体;
            font-weight: 700;
            color: rgb(51, 51, 51);
            text-indent: 20px;
            display: block;
            text-overflow: ellipsis;
            text-align: left;
            cursor: move;
            margin: 0px 29px 0px 0px;
            overflow: hidden;
        }
    </style>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部导航栏-->
    <div class="layui-header">
        <div><a href="javascript:location.reload();" class="layui-logo">云笔记平台</a></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <img id="headImage" src="" class="layui-nav-img">
                <span id="headAccountName"></span>
            </li>
        </ul>
    </div>

    <!--左侧导航栏-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" style="text-align: left;padding-left: 8px">
            <ul class="layui-nav layui-nav-tree" lay-filter="select-type">
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-edit"></i> 我的笔记</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toNotePage"><i class="layui-icon layui-icon-form"></i> 所有笔记</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-component"></i> 我的资源</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toImagePage"><i class="layui-icon layui-icon-picture"></i> 图片</a></dd>
                        <dd><a href="#" id="toFilePage"><i class="layui-icon layui-icon-file-b"></i> 文档</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-date"></i> 我的日程</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toSchedulePage"><i class="layui-icon layui-icon-form"></i> 我的日程</a>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set"></i> 系统设置</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd class="layui-this"><a href="javascript:location.reload();"><i
                                class="layui-icon layui-icon-user"></i> 用户设置</a></dd>
                        <dd><a href="#" id="toResetPasswordPage"><i class="layui-icon layui-icon-password"></i> 修改密码</a>
                        </dd>
                        <dd><a href="#" id="logout"><i class="layui-icon layui-icon-prev"></i> 注销登录</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>
    <!--中间部分-->
    <div class="layui-body">
        <div class="layui-fluid" style="padding: 0 15px 0 0;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body" style="padding:10px 15px 10px 0px;">
                            <div class="layui-row">
                                <div class="layui-col-md7">
                                    <form class="layui-form" lay-filter="form" action="">
                                        <div class="layui-row">
                                            <div class="layui-col-md6">
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label" style="width: 50px">用户名</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="accountName" id="accountName" readonly
                                                               class="layui-input"
                                                               style="border: none;font-size: 30px;color: #645f66;">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item" style="margin-bottom: 10px;">
                                                    <label class="layui-form-label" style="width: 50px">性别</label>
                                                    <div class="layui-input-block">
                                                        <input type="radio" name="sex" value="男" title="男">
                                                        <input type="radio" name="sex" value="女" title="女" checked>
                                                    </div>
                                                </div>
                                                <div class="layui-form-item" style="margin-bottom: 10px;">
                                                    <label class="layui-form-label" style="width: 50px">生日</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="birthday" id="birthday"
                                                               lay-verify="date"
                                                               placeholder="YYYY-MM-DD" autocomplete="off"
                                                               class="layui-input">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item" style="margin-bottom: 10px;">
                                                    <label class="layui-form-label" style="width: 50px">区域</label>
                                                    <div class="layui-inline">
                                                        <div class="layui-input-inline">
                                                            <input type="text" name="area" id="area"
                                                                   placeholder="例:江苏省-无锡市" maxlength="255"
                                                                   autocomplete="off" class="layui-input">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-col-md4" style="border: none">
                                                <div class="grid-demo grid-demo-bg1">
                                                    <div class="layui-upload-drag" style="border:none;padding: 10px">
                                                        <div class="layui-card-header">
                                                            头像预览
                                                        </div>
                                                        <img id="headImagePreview"
                                                             style="border-radius: 50%;max-width: 150px;max-height: 100%; top:0;left:0;right: 0;bottom: 0;margin: auto"
                                                             src="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-form-item" style="margin-bottom: 10px;">
                                            <label class="layui-form-label" style="width: 50px">头像</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="headImageUrl" lay-verify="required"
                                                       id="headImageUrl" readonly
                                                       placeholder="头像地址"
                                                       class="layui-input">
                                            </div>
                                            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                                <button type="button" class="layui-btn layui-btn-primary"
                                                        id="editimg">
                                                    <i class="layui-icon">&#xe67c;</i>上传图片
                                                </button>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" style="margin-bottom: 10px;">
                                            <label class="layui-form-label" style="width: 50px">手机</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="phone" id="phone" lay-verify="phone"
                                                       autocomplete="off" class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-form-text" style="margin-bottom: 10px;">
                                            <label class="layui-form-label" style="width: 50px">备注</label>
                                            <div class="layui-input-block" style="margin-left: 80px">
                                            <textarea name="remark" id="remark" placeholder="请输入内容" maxlength="200"
                                                      class="layui-textarea"></textarea>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" style="margin-bottom: 10px;">
                                            <div class="layui-input-block">
                                                <button type="button" class="layui-btn" lay-submit
                                                        lay-filter="accountInformation">
                                                    确认修改
                                                </button>
                                                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="layui-col-md5">
                                    <fieldset class="layui-elem-field">
                                        <legend style="text-align: center">邮箱设置</legend>
                                        <div style="margin-left: 10px">
                                            已绑定邮箱
                                            <br/>
                                            <span id="email" style="font-size: 30px;"></span>
                                            <br/><br/>
                                            <span style="color: #645f66;">邮箱是您身份核对的重要信息。当账号发生异常时，将会通过该邮箱第一时间联系您!</span>
                                            <br/>
                                            <div class="layui-form-item" style="margin-top: 10px;text-align: center">

                                                <button type="button" id="changeEmail"
                                                        class="layui-btn layui-btn-primary layui-btn-lg"
                                                        style="border-radius: 10px;">更换邮箱
                                                </button>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="layui-elem-field" style="margin-top: 20px">
                                        <legend style="text-align: center">账户安全</legend>
                                        <div style="margin-left: 10px">
                                            已绑定邮箱
                                            <br/>
                                            <span id=" " style="font-size: 30px;"></span>
                                            <br/><br/>
                                            <span style="color: #645f66;">邮箱是您身份核对的重要信息。当账号发生异常时，将会通过该邮箱第一时间联系您!</span>
                                            <br/>
                                            <div class="layui-form-item" style="margin-top: 10px;text-align: center">

                                                <button type="button" id="s"
                                                        class="layui-btn layui-btn-primary layui-btn-lg"
                                                        style="border-radius: 10px;">更换邮箱
                                                </button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部固定区域 -->
    <div class="layui-footer footer">
        <div class="layui-main">
            <p>
                <a href="javascript:void(0);">云笔记</a>
                <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow">苏ICP备19045217号</a>
                <a href="javascript:void(0);">联系邮箱:2422321558@qq.com</a>
            </p>
        </div>
    </div>
</div>
</body>
<!--更换邮箱验证弹出框-->
<div class="layui-card" id="changeEmailSpace" style="display: none">
    <!--验证旧的邮箱-->
    <div id="old" style="display: block;">
        <div class="layui-card-header"
             style="padding: 10px 15px;color: #645f66;text-align: center;">
            为了保障您的账户安全，在更换邮箱前需要进行身份验证。
        </div>
        <div class="layui-card-body layui-form" id="oldBody" style="padding: 5px 30px;">
            <div style="margin-bottom: 5px">
                <label>验证方式</label>
            </div>
            <div class="layui-form-item" style="margin-bottom: 18px">
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" name="oldEmail" id="oldEmail" readonly
                           autocomplete="off" class="layui-input" style="width: 100%;font-size: 18px">
                </div>
            </div>

            <div class="layui-form-item" style="margin-bottom: 18px">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <input type="text" name="oldSecurityCode" id="oldSecurityCode" lay-verify="required"
                               placeholder="请输入6位数验证码" class="layui-input">
                    </div>

                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <button type="button" id="oldSecurityCodeButton"
                                    class="layui-btn layui-btn-primary layui-btn-fluid">
                                获取验证码
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" type="button" lay-submit lay-filter="check">确定</button>
            </div>
        </div>
    </div>


    <!--新的邮箱设置-->
    <div id="new" style="display: none;">
        <div class="layui-card-header" id="newHeader"
             style="padding: 3px 15px;color: #645f66;text-align: center;">
            请输入您要绑定的邮箱地址，绑定后可通过该邮箱找回密码。
        </div>
        <div class="layui-card-body layui-form" id="newBody" style="padding: 10px 30px">

            <div class="layui-form-item" style="margin-bottom: 18px">
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" name="newEmail" id="newEmail" lay-verify="email"
                           autocomplete="off" placeholder="请输入有效的邮箱地址" class="layui-input" style="width: 100%;">
                </div>
            </div>

            <div class="layui-form-item" style="margin-bottom: 18px">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <input type="text" name="newSecurityCode" id="newSecurityCode"
                               placeholder="请输入6位数验证码" class="layui-input">
                    </div>

                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <button class="layui-btn layui-btn-primary layui-btn-fluid" lay-submit
                                    lay-filter="newSecurityCodeButton">
                                获取验证码
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" style="margin-bottom: 15px">
                <button class="layui-btn layui-btn-fluid" type="button" lay-submit lay-filter="change">确定</button>
            </div>

            <div class="layui-form-item" style="margin-bottom: 5px">
                <hr class="layui-bg-gray" style="margin: 3px 0;">
                <span style="color: #645f66">* 为了您的账户安全，请勿随意泄露邮箱地址</span>
            </div>
        </div>

    </div>
</div>

<script>

    //设置全局token
    var token = sessionStorage.getItem("token");

    var globalObject = "";

    var firstSecurityCode = "";

    //初始化表头
    $('#headImagePreview').attr('src', sessionStorage.getItem("headImageUrl"));
    $('#headImage').attr('src', sessionStorage.getItem("headImageUrl"));
    $('#headAccountName').html(sessionStorage.getItem("headAccountName"));

    layui.use(['element', 'form', 'laydate', 'upload', 'croppers'], function () {
        var element = layui.element;
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;
        var croppers = layui.croppers

        init();

        //年月日选择器
        laydate.render({
            elem: '#birthday'
            , type: 'date'
            , format: "yyyy-MM-dd"
            , trigger: 'click'//呼出事件改成click
        });

        //初始化表单
        function init() {
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/account/get_account.json",
                success: function (result) {
                    if (result.code == 1) {
                        form.val("form", result.data);
                        //设置邮箱
                        $('#email').html(result.data.email);
                        $("#oldEmail").val(result.data.email);
                        globalObject = result.data;
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        };

        //创建头像上传组件
        croppers.render({
            elem: '#editimg'
            , headers: {token: token}
            , saveW: 150    //保存宽度
            , saveH: 150
            , mark: 1 / 1    //选取比例
            , url: "/account/upload_image.json"
            , done: function (result) { //上传完毕回调
                if (result.code == 1) {
                    $('#headImagePreview').attr('src', result.data);
                    $('#headImageUrl').val(result.data);
                    sessionStorage.setItem("headImageUrl", result.data);
                } else {
                    layer.msg(result.message);
                }
            }
        });

        //用户信息->确认修改
        form.on('submit(accountInformation)', function (data) {
            var jsonData = JSON.stringify(data.field);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                data: jsonData,
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/account/update_account.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        $('#headImage').attr('src', sessionStorage.getItem("headImageUrl"));
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        });

        //更换邮箱
        $("#changeEmail").click(function () {
            index = layer.open({
                type: 1,
                title: '<h3>更换邮箱</h3>',
                area: ['450px', '310px'], //宽高
                content: $("#changeEmailSpace")
                , success: function () {
                }
            })
        })

        /**
         * 旧的邮箱发送验证码
         */
        $("#oldSecurityCodeButton").click(function () {
            var data =
                {
                    "emailAddress": globalObject.email
                };
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "/account/send_security_code_3.json",
                error: function () {
                    alert("网络出现异常");
                },
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message, {icon: 1});
                        //获取验证码信息
                        firstSecurityCode = result.data;
                    } else {
                        layer.msg(result.message, {icon: 2});
                    }
                }
            });
        });

        //旧邮箱核对验证码
        form.on('submit(check)', function (data) {
            var securityCode = $('#oldSecurityCode').val();
            var data =
                {
                    "firstSecurityCode": firstSecurityCode,
                    "secondSecurityCode": securityCode
                };
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "/account/check_security_code.json",
                error: function () {
                    alert("网络出现异常");
                },
                success: function (result) {
                    if (result.code == 1) {
                        $("#new").css("display", "block");
                        $("#old").css("display", "none");
                    } else {
                        layer.msg(result.message, {icon: 2});
                    }
                }
            });
        })

        //新邮箱发送验证码
        form.on('submit(newSecurityCodeButton)', function (data) {
            var data =
                {
                    "emailAddress": $('#newEmail').val()
                };
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "/account/send_security_code_4.json",
                error: function () {
                    alert("网络出现异常");
                },
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message, {icon: 1});
                        //获取验证码信息
                        firstSecurityCode = result.data;
                    } else {
                        layer.msg(result.message, {icon: 2});
                    }
                }
            });
        });

        //新邮箱核对验证码
        form.on('submit(change)', function (data) {
            var securityCode = $('#newSecurityCode').val();
            var data =
                {
                    "firstSecurityCode": firstSecurityCode,
                    "secondSecurityCode": securityCode,
                    "email": $('#newEmail').val()
                };
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "/account/update_email.json",
                error: function () {
                    alert("网络出现异常");
                },
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message, {icon: 1});
                        globalObject.email = $('#newEmail').val();
                        $('#email').html($('#newEmail').val());
                        layer.close(index)
                    } else {
                        layer.msg(result.message, {icon: 2});
                    }
                }
            });
        })

        $("#logout").click(function () {
            //清空sessionStorage
            sessionStorage.removeItem("token");
            sessionStorage.removeItem("headAccountName");
            sessionStorage.removeItem("headImageUrl");
            logout(token);
        })

        $("#toNotePage").click(function () {
            toNotePage(token);
        })


        $("#toImagePage").click(function () {
            toImagePage(token);
        })

        $("#toFilePage").click(function () {
            toFilePage(token);
        })

        $("#toSchedulePage").click(function () {
            toSchedulePage(token);
        })

        $("#toResetPasswordPage").click(function () {
            toResetPasswordPage(token);
        })

        $("#toRecycleBinPage").click(function () {
            toRecycleBinPage(token);
        })

    });

</script>
</html>