<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>云笔记</title>
    <link rel="icon" href="https://001-bucket.oss-cn-shanghai.aliyuncs.com/admin/title.gif" type="image/x-icon"/>
    <!--引入layui-->
    <link rel='stylesheet' type='text/css' media='screen' href='../static/layui-v2.5.5/layui/css/layui.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/cropper/cropper.css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script src="../static/cropper/cropper.js"></script>
    <script src="../static/cropper/croppers.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/common.js"></script>
    <style>
        .layuiadmin-card-list {
            padding: 10px
        }

    </style>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部导航栏-->
    <div class="layui-header">
        <div><a href="javascript:location.reload();" class="layui-logo">云笔记平台</a></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <img id="headImage" src="" class="layui-nav-img">
                <span id="headAccountName"></span>
            </li>
        </ul>
    </div>

    <!--左侧导航栏-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" style="text-align: left;padding-left: 8px">
            <ul class="layui-nav layui-nav-tree" lay-filter="select-type">
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-edit"></i> 我的笔记</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toNotePage"><i class="layui-icon layui-icon-form"></i> 所有笔记</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-component"></i> 我的资源</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toImagePage"><i class="layui-icon layui-icon-picture"></i> 图片</a></dd>
                        <dd><a href="#" id="toFilePage"><i class="layui-icon layui-icon-file-b"></i> 文档</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-date"></i> 我的日程</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toSchedulePage"><i class="layui-icon layui-icon-form"></i> 我的日程</a>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set"></i> 系统设置</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd class="layui-this"><a href="javascript:location.reload();"><i
                                class="layui-icon layui-icon-user"></i> 用户设置</a></dd>
                        <dd><a href="#" id="toResetPasswordPage"><i class="layui-icon layui-icon-password"></i> 修改密码</a>
                        </dd>
                        <dd><a href="#" id="logout"><i class="layui-icon layui-icon-prev"></i> 注销登录</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>
    <!--中间部分-->
    <div class="layui-body">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">设置我的资料</div>
                        <div class="layui-card-body">
                            <div class="layui-row">
                                <div class="layui-col-md11 layui-col-md-offset1">
                                    <form class="layui-form" lay-filter="form" action="">
                                        <div class="layui-row">
                                            <div class="layui-col-sm7 layui-col-md7">
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">用户名</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="accountName" id="accountName" readonly
                                                               class="layui-input">
                                                    </div>
                                                    <div class="layui-form-mid layui-word-aux">不可修改</div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">性别</label>
                                                    <div class="layui-input-block">
                                                        <input type="radio" name="sex" value="男" title="男">
                                                        <input type="radio" name="sex" value="女" title="女" checked>
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">生日</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="birthday" id="birthday"
                                                               lay-verify="date"
                                                               placeholder="YYYY-MM-DD" autocomplete="off"
                                                               class="layui-input">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">区域</label>
                                                    <div class="layui-inline">
                                                        <div class="layui-input-inline">
                                                            <input type="text" name="area" id="area"
                                                                   placeholder="例:江苏省-无锡市" maxlength="255"
                                                                   autocomplete="off" class="layui-input">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-col-sm7 layui-col-md3">
                                                <div class="layui-card">
                                                    <div class="layui-card-header">
                                                        头像预览
                                                    </div>
                                                    <div class="layui-card-body layuiadmin-card-list">
                                                        <div>
                                                            <img id="headImagePreview"
                                                                 style="width: 150px;height: 150px" src="">
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">头像</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="headImageUrl" lay-verify="required"
                                                       id="headImageUrl" readonly
                                                       placeholder="头像地址"
                                                       class="layui-input">
                                            </div>
                                            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                                <button type="button" class="layui-btn layui-btn-primary"
                                                        id="editimg">
                                                    <i class="layui-icon">&#xe67c;</i>上传图片
                                                </button>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">手机</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="phone" id="phone" lay-verify="phone"
                                                       autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">邮箱</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="email" readonly class="layui-input">
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">不可修改</div>
                                        </div>
                                        <div class="layui-form-item layui-form-text">
                                            <label class="layui-form-label">备注</label>
                                            <div class="layui-input-block">
                                            <textarea name="remark" id="remark" placeholder="请输入内容" maxlength="200"
                                                      class="layui-textarea"></textarea>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button type="button" class="layui-btn" lay-submit
                                                        lay-filter="accountInformation">
                                                    确认修改
                                                </button>
                                                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部固定区域 -->
    <div class="layui-footer layui-bg-black">
        <div class="layui-main">
            <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow" style="color: #fffbf0;">苏ICP备19045217号</a>
        </div>
    </div>
</div>
</body>
<script>

    //设置全局token
    var token = sessionStorage.getItem("token");


    //初始化表头
    $('#headImagePreview').attr('src', sessionStorage.getItem("headImageUrl"));
    $('#headImage').attr('src', sessionStorage.getItem("headImageUrl"));
    $('#headAccountName').html(sessionStorage.getItem("headAccountName"));

    layui.use(['element', 'form', 'laydate', 'upload', 'croppers'], function () {
        var element = layui.element;
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;
        var croppers = layui.croppers

        init();

        //年月日选择器
        laydate.render({
            elem: '#birthday'
            , type: 'date'
            , trigger: 'click'//呼出事件改成click
        });

        //初始化表单
        function init() {
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/account/get_account.json",
                success: function (result) {
                    if (result.code == 1) {
                        form.val("form", result.data);
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        };

        //创建头像上传组件
        croppers.render({
            elem: '#editimg'
            , headers: {token: token}
            , saveW: 150    //保存宽度
            , saveH: 150
            , mark: 1 / 1    //选取比例
            , url: "/account/upload_image.json"
            , done: function (result) { //上传完毕回调
                if (result.code == 1) {
                    $('#headImagePreview').attr('src', result.data);
                    $('#headImageUrl').val(result.data);
                    sessionStorage.setItem("headImageUrl", result.data);
                } else {
                    layer.msg(result.message);
                }
            }
        });

        //用户信息->确认修改
        form.on('submit(accountInformation)', function (data) {
            var jsonData = JSON.stringify(data.field);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                data: jsonData,
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/account/update_account.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        $('#headImage').attr('src', sessionStorage.getItem("headImageUrl"));
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        });

        $("#logout").click(function () {
            //清空sessionStorage
            sessionStorage.removeItem("token");
            sessionStorage.removeItem("headAccountName");
            sessionStorage.removeItem("headImageUrl");
            logout(token);
        })

        $("#toNotePage").click(function () {
            toNotePage(token);
        })


        $("#toImagePage").click(function () {
            toImagePage(token);
        })

        $("#toFilePage").click(function () {
            toFilePage(token);
        })

        $("#toSchedulePage").click(function () {
            toSchedulePage(token);
        })

        $("#toResetPasswordPage").click(function () {
            toResetPasswordPage(token);
        })

        $("#toRecycleBinPage").click(function () {
            toRecycleBinPage(token);
        })

    });

</script>
</html>