<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>云笔记</title>
    <link rel="icon" href="https://001-bucket.oss-cn-shanghai.aliyuncs.com/admin/title.gif" type="image/x-icon"/>
    <!--引入layui-->
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/login.css" type='text/css'>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/admin.css" type='text/css'>
    <link rel='stylesheet' media='screen' href="http://at.alicdn.com/t/font_1839282_s34h0jl2vr.css" type='text/css'>

    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script type="text/javascript" src="../static/common.js"></script>
    <!--引入jquery-->
    <script src="../static/jquery-3.4.1.min.js"></script>
    <style>
        .layadmin-user-login-footer a {
            padding: 0 5px;
        }
    </style>

    <script>
        //localStorage.clear();//重启服务器后需要删除客户端的信息
        //在加载页面之前先判断客户端是否已经登录
        let token = getLocalStorage("token");
        //如果Token不为空则直接进入笔记页面
        if (token != null) {
            window.location.href = "/to_note_page?token=" + token;
        }
    </script>
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login"
     style="padding-top: 15px;padding-bottom: 0">

    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>cloud note</h2>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                       for="accountName"></label>
                <input type="text" name="accountName" id="accountName" lay-verify="required"
                       placeholder="用户名" maxlength="10"
                       class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="accountPassword"></label>
                <input type="password" name="accountPassword" id="accountPassword" lay-verify="required" maxlength="15"
                       placeholder="密码" class="layui-input">
            </div>

            <div class="layui-form-item" style="margin-bottom: 20px;">
                <!--<input type="checkbox" name="remember" lay-skin="primary" title="记住密码">-->
                <a href="/findPassword" class="layadmin-user-jump-change layadmin-link"
                   style="margin-top: 7px;">忘记密码？</a>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" type="button" lay-submit lay-filter="login">登 入</button>
            </div>
            <div class="layui-trans layui-form-item layadmin-user-login-other" style="padding-top:0px">
                <label>邮箱登入</label>
                <a href="/email_login"><i class="iconfont layui-icon-extendyoujian- "></i></a>
                <a href="/register" class="layadmin-user-jump-change layadmin-link">注册帐号</a>
            </div>
        </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">
        <p>
            <a href="javascript:void(0);">云笔记</a>
            <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow">苏ICP备19045217号</a>
            <a href="javascript:void(0);">联系邮箱:2422321558@qq.com</a>
        </p>
    </div>
</div>
</body>
<script type="text/javascript">

    //加载登录表单
    layui.use(['element', 'form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;

        //登录监听
        form.on('submit(login)', function (data) {
            var datajson = JSON.stringify(data.field);
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: datajson,
                url: "/account/login.json",
                success: function (result) {
                    if (result.code == 1) {
                        var tokenData = result.data.token;
                        setLocalStorage("token", tokenData);
                        window.location.href = "/to_note_page?token=" + tokenData;//进入主页
                    } else if (result.code == "admin") {
                        var tokenData = result.data.token;
                        //存储token数据
                        setLocalStorage("token", tokenData);
                        window.location.href = "/admin?token=" + tokenData; //进入管理页面
                    } else {
                        layer.msg(result.message, {icon: 2});
                    }
                },
                error: function () {
                    alert("网络出现异常!");
                }
            });
        });

    })


</script>
</html>
      