<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户登录</title>

    <!--引入layui-->
    <link rel='stylesheet' type='text/css' media='screen' href='../static/layui-v2.5.5/layui/css/layui.css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <!--引入jquery-->
    <script src="../static/jquery-3.4.1.min.js"></script>

</head>
<body>

<div class="layui-container"><!--宽度100%适应的容器中-->

    <div class="layui-row" style="margin-top: 5%;">
    </div>

    <div class="layui-row layui-col-space5"><!--设置列之间的间距为5-->

        <div class="layui-col-md4">

        </div>

        <div class="layui-col-md4">

            <form class="layui-form" action="post" style="margin-left: 10%;margin-right: 10%;">
                <div class="layui-form-item" style="text-align:center;">
                    <h2>云笔记平台</h2>
                </div>

                <div class="layui-form-item">
                    <input type="text" name="name" required lay-verify="required" placeholder="用户名/邮箱/手机号"
                           autocomplete="off"
                           class="layui-input">
                </div>

                <div class="layui-form-item">
                    <input type="password" name="accountPassword" required lay-verify="required" placeholder="密码"
                           autocomplete="off" class="layui-input">
                </div>

                <div class="layui-form-item">

                    <div class="layui-row  layui-col-space5">
                        <div class="layui-col-xs7">
                            <div class="grid-demo grid-demo-bg1"><input type="checkbox" name="remember"
                                                                        lay-skin="primary" title="记住密码"
                                                                        lay-filter="remberPassword"></div>
                        </div>


                        <div class="layui-col-xs5">
                            <div class="grid-demo grid-demo-bg1">
                                <a style="display: inline-block; text-align: center; margin-top: 9px;">忘记密码?</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <button type="button" class="layui-btn layui-btn-fluid" lay-submit lay-filter="login">登录</button>
                </div>

                <div class="layui-form-item">

                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs7">
                            <label>动态登录</label>
                            <a href="to_dynamicLogin"><i class="layui-icon layui-icon-cellphone"></i></a>
                        </div>

                        <div class="layui-col-xs5">
                            <a href="register">注册帐号</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="layui-col-md4">

        </div>
    </div>
</div>
</body>

<script type="text/javascript">

    //加载登录表单
    layui.use(['element', 'form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;
        //登录监听
        form.on('submit(login)', function (data) {
            var datajson = JSON.stringify(data.field);
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: datajson,
                url: "http://localhost:8080/account/login",
                success: function (result) {
                    if (result.code == 1) {
                        var tokenData = result.data.token;
                        sessionStorage.setItem("token", tokenData);//存储token
                        window.location.href = "/to_index?token=" + tokenData;//进入主页

                    } else {
                        layer.open({
                            title: '提示',
                            content: result.message,
                            btn: [],
                            time: 3000,
                            shade: 0.6,
                            offset: 'auto',
                            area: ['200px', '120px']
                        });
                    }
                },
                error: function () {
                    alert("网络出现异常!");
                }
            });
        });
    })
</script>
</html>
      