<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>cloudNote</title>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/layui_exts/tinymce/js/tinymce/langs/zh_CN.js"></script>
    <script type="text/javascript" src="../static/layui_exts/tinymce/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="../static/common.js"></script>
    <style>

        .note-title {
            border: none;
        }

        .layui-table, .layui-table-view {
            margin: 0 0;
        }

        .layui-form-item {
        }

    </style>
</head>

<body>
<!--顶部导航栏-->
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        <div><a class="layui-logo" href="javascript:location.reload();">云笔记平台</a></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <img id="headImage" src="" class="layui-nav-img">
                <span id="headAccountName"></span>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" style="text-align: left;padding-left: 8px">
            <ul class="layui-nav layui-nav-tree" lay-filter="select-type">
                <li class="layui-nav-item layui-nav-itemed">
                    <a><i class="layui-icon layui-icon-edit"></i> 我的笔记</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="cleanEditSpace"><i class="layui-icon layui-icon-edit"></i> 创建笔记</a></dd>
                        <dd  class="layui-this"><a href="#" id="all"><i class="layui-icon layui-icon-form"></i> 所有笔记</a></dd>
                        <dd><a href="#" id="starList"><i class="layui-icon layui-icon-star-fill"> 收藏夹</i></a></dd>
                        <dd><a href="#" id="recycle"><i class="layui-icon layui-icon-delete"> 回收站</i></a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-component"></i> 我的资源</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toImagePage"><i class="layui-icon layui-icon-picture"></i> 图片</a></dd>
                        <dd><a href="#" id="toFilePage"><i class="layui-icon layui-icon-file-b"></i> 文档</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-date"></i> 我的日程</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toSchedulePage"><i class="layui-icon layui-icon-form"></i> 所有日程</a>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set"></i> 系统设置</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toInformationPage"><i class="layui-icon layui-icon-user"></i> 账号设置</a></dd>
                        <dd><a href="#" id="toResetPasswordPage"><i class="layui-icon layui-icon-password"></i> 修改密码</a>
                        </dd>
                        <dd><a href="#" id="logout"><i class="layui-icon layui-icon-prev"></i> 注销登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-fluid">
            <br>
            <div class="layui-row layui-col-space5">
                <div class="layui-col-sm12 layui-col-md3">
                    <div class="layui-row">

                        <div class="layui-col-xs9">
                            <input id="input-search-note" type="text" placeholder="搜索" autocomplete="off"
                                   class="layui-input" maxlength="12"
                                   style="border-right: none;boder-top:none;border-bottom: none;font-size: 16px"/>
                        </div>
                        <div class="layui-col-xs3" style="text-align:center">
                            <button id="search-note" type="button" class="layui-btn layui-btn-primary"
                                    style="border:none;padding: 0 0"><i
                                    class="layui-icon layui-icon-search" style="font-size: 32px;"></i>
                            </button>
                        </div>
                        <div class="layui-col-sm12" style="text-align:center;">
                            <form class="layui-form" lay-filter="formSelectType" id="2" action="post">
                                <div class="layui-form-item" style="margin-bottom: 0">
                                    <div class="layui-input-inline" style="width: 100%">
                                        <select name="selectNoteType" id="selectNoteType"
                                                lay-filter="selectNoteType" maxlength="10"
                                                lay-search>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="layui-row">
                        <div class="layui-col-xs12">
                            <table lay-skin="ngb" id="note-list"
                                   lay-filter="note-filter"></table>
                        </div>
                    </div>

                </div>
                <!--笔记编辑区-->
                <div class="layui-col-sm12 layui-col-md9">

                    <!--标题区-->
                    <div class="layui-row">
                        <div class="layui-col-md8 layui-col-sm8">
                            <div class="layui-input-inline" style="width: 100%;float:left;">
                                <input type="text" id="noteTitle" name="noteTitle"
                                       class="layui-input note-title" maxlength="30" style="font-size: 16px"
                                       placeholder="标题">
                            </div>
                        </div>
                        <div class="layui-col-md4 layui-col-sm4" style="text-align: center">
                            <div id="buttonGroup" class="layui-btn-group" style="display: block">
                                <button id="saveNote" type="button" class="layui-btn layui-btn-primary"
                                        style="border:none;padding: 0 5px;"><i
                                        class="layui-icon layui-icon-add-1" style="font-size: 32px;"></i>
                                </button>
                                <button type="button" id="setType" class="layui-btn layui-btn-primary"
                                        style="border:none;padding: 0 5px"><i
                                        class="layui-icon layui-icon-note" style="font-size: 32px;"></i>
                                </button>
                                <button id="deleteNote" type="button" class="layui-btn layui-btn-primary"
                                        style="border:none;padding: 0 5px;"><i
                                        class="layui-icon layui-icon-delete" style="font-size: 32px;"></i>
                                </button>
                                <button type="button" id="star" class="layui-btn layui-btn-primary"
                                        style="border:none;padding: 0 5px"><i id="starIcon" class="layui-icon"
                                                                              style="font-size: 32px;">&#xe600;</i>
                                </button>
                            </div>

                            <div id="recycleButton" style="display: none;">
                                <button id="revertNote" type="button"
                                        style="font-size: 16px; "
                                        class="layui-btn layui-btn-primary layui-btn-radius">恢复笔记
                                </button>
                                <button id="completelyRemove" type="button" style="font-size: 16px;"
                                        class="layui-btn layui-btn-primary layui-btn-radius">彻底删除
                                </button>
                            </div>

                        </div>
                    </div>

                    <!--类型-->
                    <div class="layui-row" id="showType" style="display: none;">
                        <div class="layui-col-md12">
                            <form class="layui-form" lay-filter="formNoteType" id="1" action="post">
                                <div class="layui-form-item" style="margin-bottom: 0">
                                    <input type="text" id="inputNoteType" name="inputNoteType"
                                           class="layui-input" autocomplete="off" onkeyup="search()"
                                           placeholder="笔记标签" maxlength="10"
                                           style="width: 90%;z-index:2;position:absolute;border-bottom: none;border-right: none">
                                    <select type="text" name="setNoteType" id="setNoteType" autocomplete="off"
                                            lay-filter="setNoteType" lay-search>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--编辑区-->
                    <div class="layui-row">

                        <div class="layui-col-md12" style="width: 100%;height: 100%;">
                                        <textarea name="noteContent" id="noteContent" cols="30" rows="10"
                                                  style="border: none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer layui-bg-black">
        © layui.com - 底部固定区域
    </div>
</div>
</body>

<script th:inline="none">


    var token = sessionStorage.getItem("token");

    var globalNote = "";

    let showTypeFlag = true;
    let disableFlag = true;
    //导航栏识别
    let sideId = "all";


    layui.use(['table', 'element', 'form', 'layer'], function () {
        //初始化编辑器
        init_tinymce();
        //初始化用户名和头像
        init_head();
        //初始化标签
        init_select("NO", "");
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;

        //加载编辑插件
        function init_tinymce() {
            tinymce.init({
                selector: '#noteContent',
                height: 459,
                max_height: 1000,
                language: 'zh_CN',
                skin: 'oxide',
                resize: true,
                theme: 'silver',
                menubar: 'file edit format',
                contextmenu: "copy ", //右击菜单
                menu: {
                    edit: {title: '编辑', items: 'undo redo | cut copy  pastetext | selectall'},
                },
                setup: function (editor) {
                    //焦点移入事件
                    editor.on('focus', function () {
                        form.render();
                    });
                    //焦点移出事件
                    editor.on('blur', function () {
                        var noteContent = tinyMCE.activeEditor.getContent();
                        if (globalNote == "") {
                            return;
                        }
                        if (noteContent == "") {
                            layer.msg("内容不能为空!");
                            return;
                        }
                        if (noteContent != globalNote.noteContent) {
                            var data = {
                                "noteContent": noteContent,
                                "noteId": globalNote.noteId
                            }
                            globalNote.noteContent = noteContent;//替换新的内容
                            update(data, "NO");
                        }
                    });
                }
            });
        };

        //初始化列表 type, key, star，recycle
        init_table("", "", "", "NO");

        //初始化头部
        function init_head() {
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/account/getHeadData.json",
                success: function (result) {
                    if (result.code == 1) {
                        sessionStorage.setItem("headAccountName", result.data.accountName);
                        sessionStorage.setItem("headImageUrl", result.data.headImageUrl)
                        $('#headImage').attr('src', result.data.headImageUrl);
                        $('#headAccountName').html(result.data.accountName);
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        };

        //所有笔记
        $("#all").click(function () {
            if (!disableFlag) {
                disabledTrue();
            }
            //设置sideId
            sideId = "all";
            init_select("NO", "");//初始化标签
            init_table("", "", "", "NO");
            clearEidtSpace();
        });

        //收藏夹
        $("#starList").click(function () {
            if (!disableFlag) {
                disabledTrue();
            }
            sideId = "star";
            init_select("NO", "YES");//初始化标签
            init_table("", "", "YES", "NO");
            clearEidtSpace();
        })

        //回收站
        $("#recycle").click(function () {
            sideId = "recycle";
            disabledFalse();//设置不能编辑
            showNoteType();//展示标签
            clearEidtSpace();//清空编辑区
            init_table("", "", "", "YES");
        })

        //初始化笔记列表
        function init_table(type, key, star, isRecycle) {
            table.render({
                elem: '#note-list',
                where: {token: token, type: type, key: key, star: star, isRecycle: isRecycle},//传递token到服务端
                type: "get",
                url: '/note/note_list.json', //默认传递两个参数
                headers: {'token': token},
                cellMinWidth: 240, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                    layout: ['prev', 'next', 'skip'] //自定义分页布局
                    , curr: 1 //设置初始页
                    , groups: 1 //只显示 1 个连续页码
                    , first: false //不显示首页
                    , last: false //不显示尾页
                    , pageSize: 10 //每页显示数量
                },
                loading: true,
                cols:
                    [[ //标题栏
                        {field: 'noteTitle', title: '笔记列表', unresize: true}
                    ]]
                , done:
                    function (res, curr, count) {
                        $('th').css({'text-align': 'center', 'font-size': '17px', 'letter-spacing': '8px'});
                    }
            })
        }

        //点击标题
        table.on('row(note-filter)', function (obj) {
            globalNote = obj.data;
            $('#noteTitle').val(obj.data.noteTitle);
            tinyMCE.activeEditor.setContent(obj.data.noteContent);
            form.val("formNoteType", {
                "inputNoteType": obj.data.noteType
            });
            showNoteType();//设置标签可见
            if (obj.data.star == "YES") {
                $('#starIcon').html("&#xe658;");
            }
            if (obj.data.star == "NO") {
                $('#starIcon').html("&#xe600;");
            }
        });

        //加星笔记
        $("#star").click(function () {
            if (globalNote == "") {
                layer.msg("请先选择笔记!");
                return;
            } else if (globalNote.star == "YES") {
                setStar(globalNote.noteId, "NO");
            } else if (globalNote.star == "NO") {
                setStar(globalNote.noteId, "YES");
            } else {
                return;
            }
        });

        function setStar(noteId, star) {
            $.ajax({
                type: "get",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: {noteId: noteId, star: star},
                url: "/note/set_star.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        globalNote.star = star;
                        if (star == "YES") {
                            $('#starIcon').html("&#xe658;");
                        } else {
                            $('#starIcon').html("&#xe600;");
                        }
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        }

        //新建笔记
        $("#cleanEditSpace").click(function () {
            if (!disableFlag) {
                disabledTrue();
            }
            //初始化内容
            $('#noteTitle').val("无标题笔记");
            tinyMCE.activeEditor.setContent("<p>编辑内容。。。。。。</p>");
            $('#inputNoteType').val("");
            $('#starIcon').html("&#xe600;");
            showNoteType();//显示标签
            globalNote = "";
        });

        //保存
        $("#saveNote").click(function () {
            if (globalNote != "") {
                return;
            }
            globalNote = "temp"
            var noteTitle = $('#noteTitle').val();
            var noteContent = tinyMCE.activeEditor.getContent();
            var noteType = $('#inputNoteType').val();

            var data = {
                "noteTitle": noteTitle,
                "noteType": noteType,
                "noteContent": noteContent
            }
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "/note/save_note.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        if (sideId == "star") {
                            init_select("NO", "YES");
                        } else {
                            init_table("", "", "", "NO");
                            init_select("NO", "");
                        }
                        hideNoteType();
                        clearEidtSpace();
                    } else {
                        globalNote = "";
                        layer.msg(result.message);
                    }
                },
            })
        });


        //删除笔记
        $("#deleteNote").click(function () {

            if (globalNote == "") {
                layer.msg("请先选择笔记!");
                return;
            }
            var data = {
                "noteId": globalNote.noteId
            }
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "/note/delete_note.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg('删除成功!');
                        if (sideId == "star") {
                            init_table("", "", "YES", "NO");
                            init_select("NO", "YES");
                        } else {
                            init_table("", "", "", "NO");
                            init_select("NO", "");
                        }
                        clearEidtSpace();
                        hideNoteType();
                    }
                },
            })
        });

        //恢复笔记
        $("#revertNote").click(function () {
            if (globalNote == "") {
                layer.msg("请先选择笔记!");
                return;
            }
            $.ajax({
                type: "get",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: {noteId: globalNote.noteId},
                url: "/note/revert_note.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        init_table("", "", "", "YES");
                        clearEidtSpace();
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        });

        //彻底删除
        $("#completelyRemove").click(function () {
            if (globalNote == "") {
                layer.msg("请先选择笔记!");
                return;
            }
            $.ajax({
                type: "get",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: {noteId: globalNote.noteId},
                url: "/note/completely_remove_note.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        init_table("", "", "", "YES");
                        clearEidtSpace();
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        });

        //全文搜索
        $("#search-note").click(function () {
            let key = $("#input-search-note").val();
            /*   form.val("formSelectType", {
                   "selectNoteType": ""
               });
           */
            if (sideId == "all") {
                init_table("", key, "", "NO");
            } else if (sideId == "recycle") {
                init_table("", key, "", "YES");
            } else {
                init_table("", key, "YES", "NO");
            }
        })

        //设置标签是否可见
        $("#setType").click(function () {
            if (showTypeFlag == true) {
                $('#showType').css({'display': 'block'});
                showTypeFlag = false;
                return;
            }
            if (showTypeFlag == false) {
                $('#showType').css({'display': 'none'});
                showTypeFlag = true;
                return;
            }
        });

        //隐藏标签
        function hideNoteType() {
            $('#showType').css({'display': 'none'});
            showTypeFlag = true;
        };

        //显示标签
        function showNoteType() {
            $('#showType').css({'display': 'block'});
            showTypeFlag = false;
        }

        //清除编辑区
        function clearEidtSpace() {
            $('#noteTitle').val("");//清除标题
            tinyMCE.activeEditor.setContent("");
            $('#inputNoteType').val("");//清除标签
            $('#starIcon').html("&#xe600;");//设置空心收藏
            globalNote = "";
        }

        //设置不可编辑
        function disabledFalse() {
            disableFlag = false;

            $('#buttonGroup').css({'display': 'none'});
            $('#recycleButton').css({'display': 'block'});
            $('#noteTitle').attr("disabled", "disabled");
            $('#inputNoteType').attr("disabled", "disabled");
            $('#inputNoteType').attr("disabled", "disabled");
            $('#setNoteType').attr("disabled", "disabled");
            $('#selectNoteType').attr("disabled", "disabled");
            $('#noteContent').attr("disabled", "disabled");

            tinymce.activeEditor.getBody().setAttribute('contenteditable', false);

            form.render('select');
        }


        //设置可编辑
        function disabledTrue() {
            disableFlag = true;
            $('#recycleButton').css({'display': 'none'});
            $('#buttonGroup').css({'display': 'block'});
            $('#noteTitle').removeAttr("disabled");
            $('#inputNoteType').removeAttr("disabled");
            $('#inputNoteType').removeAttr("disabled");
            $('#setNoteType').removeAttr("disabled");
            $('#selectNoteType').removeAttr("disabled");
            $('#noteContent').removeAttr("disabled");
            form.render();
            tinymce.activeEditor.getBody().setAttribute('contenteditable', true);
        }

        //初始化标签
        function init_select(isRecycle, isStar) {
            $("#selectNoteType").empty();//先对类型进行清空
            $("#setNoteType").empty();//先对类型进行清空
            $.ajax({
                type: "get",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/note/init_noteType.json",
                data: {recycle: isRecycle, star: isStar},
                success: function (result) {
                    if (result.code == 1) {
                        let selectData = result.data.textValues;
                        $("#selectNoteType").append('<option value="">请选择标签类型</option>');
                        for (let x in selectData) {
                            $("#selectNoteType").append('<option value = "' + selectData[x].key + '">' + selectData[x].value + '</option>');
                            $("#setNoteType").append('<option value = "' + selectData[x].key + '">' + selectData[x].value + '</option>');
                        }
                        form.render();
                    }
                },
            })
        };

        //右侧标签选择事件
        form.on('select(setNoteType)', function (data) {
            //赋值input
            $('#inputNoteType').val(data.value);
            $("#setNoteType").next().find("dl").css({"display": "none"});
            form.render();

            if (globalNote == "") {
                return;
            }
            if (data.value != globalNote.noteType) {
                var data1 = {
                    "noteType": data.value,
                    "noteId": globalNote.noteId
                }
                globalNote.noteType = data.value;
                update(data1, "YES");
            }
        });

        window.search = function () {
            let value = $("#inputNoteType").val();
            $("#setNoteType").val(value);
            form.render();
            $("#setNoteType").next().find("dl").css({"display": "block"});
            let dl = $("#setNoteType").next().find("dl").children();
            let j = -1;
            for (let i = 0; i < dl.length; i++) {
                if (dl[i].innerHTML.indexOf(value) <= -1) {
                    dl[i].style.display = "none";
                    j++;
                }
                if (j == dl.length - 1) {
                    $("#setNoteType").next().find("dl").css({"display": "none"});
                }
            }

        }

        //左侧选择事件
        form.on('select(selectNoteType)', function (data) {
            if (sideId == "star") {
                init_table(data.value, "", "YES", "NO");
            } else {
                init_table(data.value, "", "", "NO");
            }
            hideNoteType();
            clearEidtSpace();
        });

        //类型失去焦点-》判断是否进行更新
        $('#inputNoteType').blur(function () {
            form.render();
            let noteType = $('#inputNoteType').val();
            if (globalNote == "") {
                return;
            }
            if (noteType != globalNote.noteType) {
                let data = {
                    "noteType": noteType,
                    "noteId": globalNote.noteId
                }
                globalNote.noteType = noteType;
                update(data, "YES");
            }
        })

        //标题失去焦点时-》判断是否更新
        $('#noteTitle').blur(function () {
            if (globalNote == "") {
                return;
            }
            let noteTitle = $('#noteTitle').val();
            if (noteTitle == "") {
                $('#noteTitle').focus();
                layer.msg("标题不能为空!");
                return;
            }
            if (noteTitle != globalNote.noteTitle) {
                let data = {
                    "noteTitle": noteTitle,
                    "noteId": globalNote.noteId
                }
                globalNote.noteTitle = noteTitle;
                update(data, "NO");
            }
        })

        //更新数据
        function update(data, refreshType) {
            let jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "/note/update_note.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        if (sideId == "star") {
                            init_table("", "", "YES", "NO");
                            if (refreshType == "YES") {
                                init_select("NO", "YES");
                            }
                        } else {
                            init_table("", "", "", "NO");
                            if (refreshType == "YES") {
                                init_select("NO", "");
                            }
                        }
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        }


        $("#logout").click(function () {
            //清空sessionStorage
            sessionStorage.removeItem("token");
            sessionStorage.removeItem("headAccountName");
            sessionStorage.removeItem("headImageUrl");
            logout(token);
        })

        $("#toImagePage").click(function () {
            toImagePage(token);
        })

        $("#toFilePage").click(function () {
            toFilePage(token);
        })

        $("#toSchedulePage").click(function () {
            toSchedulePage(token);
        })


        $("#toInformationPage").click(function () {
            toInformationPage(token);
        })

        $("#toResetPasswordPage").click(function () {
            toResetPasswordPage(token);
        })

        $("#toRecycleBinPage").click(function () {
            toRecycleBinPage(token);
        })
    })
</script>
</html>