<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>cloudNote</title>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/layui_exts/tinymce/js/tinymce/langs/zh_CN.js"></script>
    <script type="text/javascript" src="../static/layui_exts/tinymce/js/tinymce/tinymce.min.js"></script>
    <style>

        .note-title {
            border: none;
        }

        .layui-container {
            width: 100%;
            height: 100%;
            padding: 0 0;
            overflow: hidden;
        }

        .layui-table, .layui-table-view {
            margin: 0 0;
        }

        .layui-form-item {
        }

    </style>
</head>

<body>
<!--顶部导航栏-->
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">

        <div><a class="layui-logo" id="cloudNote" href="/to_index">云笔记平台</a></div>

        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="information"><i class="layui-icon layui-icon-user"></i> 账号设置</a></dd>
                    <dd><a href="">意见反馈</a></dd>
                    <dd><a href=""><i class="layui-icon layui-icon-logout"></i> 注销登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" style="text-align: left;padding-left: 8px">
            <ul class="layui-nav layui-nav-tree" lay-filter="select-type">
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-edit"></i> 我的笔记</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="cleanEditSpace"><i class="layui-icon layui-icon-edit"></i> 创建笔记</a></dd>
                        <dd><a href="#" id="all"><i class="layui-icon layui-icon-form"></i> 查看</a></dd>
                        <dd><a href="#" id="starList"><i class="layui-icon layui-icon-star-fill"> 收藏夹</i></a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-component"></i> 我的资源</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="/imagePage"><i class="layui-icon layui-icon-picture"></i> 图片</a></dd>
                        <dd><a href="/imagePage"><i class="layui-icon layui-icon-file-b"></i> 文档</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-date"></i> 我的日程</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="/to_schedule_page"><i class="layui-icon layui-icon-form"></i> 查看</a>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-delete"></i> 回收站</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-home"></i> 全部恢复</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-home"></i> 全部清空</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-home"></i> 查看全部</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set"></i> 系统设置</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="information"><i class="layui-icon layui-icon-user"></i> 账号设置</a></dd>
                        <dd><a href=""><i class="layui-icon layui-icon-logout"></i> 意见反馈</a></dd>
                        <dd><a href=""><i class="layui-icon layui-icon-logout"></i> 注销登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <!--笔记列表-->
                <div class="layui-col-xs3">
                    <div class="grid-demo grid-demo-bg1">
                        <div class="layui-row">
                            <div class="layui-col-xs9">
                                <input id="input-search-note" type="text" placeholder="搜索" autocomplete="off"
                                       class="layui-input"
                                       style="border-right: none;boder-top:none;border-bottom: none;font-size: 16px"/>
                            </div>
                            <div class="layui-col-xs3" style="text-align:center">
                                <button id="search-note" type="button" class="layui-btn layui-btn-primary"
                                        style="border:none;padding: 0 0"><i
                                        class="layui-icon layui-icon-search" style="font-size: 32px;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="layui-row">
                            <div class="layui-col-xs12" style="text-align:center;">
                                <form class="layui-form" action="post">
                                    <div class="layui-form-item" style="margin-bottom: 0">
                                        <div class="layui-input-inline" style="width: 100%">
                                            <select name="noteType" id="selectNoteTpe" lay-filter="selectNoteTpe">
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="layui-row">
                            <div class="layui-col-xs12">
                                <table class="" lay-skin="ngb" id="note-list"
                                       lay-filter="note-filter"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--笔记编辑区-->
                <div class="layui-col-xs9">
                    <div class="grid-demo">
                        <!--标题区-->
                        <div class="layui-row">
                            <div class="layui-col-xs9">
                                <div class="grid-demo">
                                    <div class="layui-input-inline" style="width: 100%;float:left;">
                                        <input type="text" id="note-title" name="noteTitle"
                                               class="layui-input note-title"
                                               placeholder="标题">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs3">
                                <div class="grid-demo">
                                    <div class="layui-btn-group" style="float:right">
                                        <button id="saveNote" type="button" class="layui-btn layui-btn-primary"
                                                style="border:none;padding: 0 5px;"><i
                                                class="layui-icon layui-icon-add-1" style="font-size: 32px;"></i>
                                        </button>
                                        <button type="button" id="setType" class="layui-btn layui-btn-primary"
                                                style="border:none;padding: 0 5px"><i
                                                class="layui-icon layui-icon-note" style="font-size: 32px;"></i>
                                        </button>
                                        <button id="delete-note" type="button" class="layui-btn layui-btn-primary"
                                                button-space
                                                style="border:none;padding: 0 5px;" onmouseover="123"><i
                                                class="layui-icon layui-icon-delete" style="font-size: 32px;"></i>
                                        </button>
                                        <button type="button" id="star" class="layui-btn layui-btn-primary"
                                                style="border:none;padding: 0 5px"><i id="ifStar"
                                                class="layui-icon" style="font-size: 32px;">&#xe600;</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--类型-->
                        <div class="layui-row" id="showType" style="display: none;">
                            <div class="layui-col-xs12" style="margin: 0;">
                                <div class="layui-form-item" style="margin-bottom: 0">
                                    <input type="text" id="noteType" name="noteTitle"
                                           class="layui-input"
                                           placeholder="此处设置笔记标签">
                                </div>
                            </div>
                        </div>

                        <!--编辑区-->
                        <div class="layui-row">
                            <div class="layui-col-xs12">
                                <div class="layui-row">
                                    <div class="layui-col-xs12" style="width: 100%;height: 100%;">
                                        <textarea name="" id="mytextarea" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-footer layui-bg-black">
            © layui.com - 底部固定区域
        </div>
    </div>
</div>
</body>

<script th:inline="none">

    //设置全局token
    var token = sessionStorage.getItem("token");
    //设置全局noteId
    var noteId = "";
    //标签点击全局判断
    var flag = true;

    //加载编辑插件
    function init_tinymce() {
        tinymce.init({
            selector: '#mytextarea',
            height: 415,
        });
    };

    //页面加载完成前执行
    $(document).ready(function () {
        init_tinymce();
    });

    layui.use(['table', 'element', 'form', 'layer'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;

        //初始化列表
        table.render({
            elem: '#note-list',
            where: {token: token},//传递token到服务端
            url: 'http://localhost:8080/note/note_list', //默认传递两个参
            height: 'full-180',
            cellMinWidth: 240, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            cols:
                [[ //标题栏
                    {field: 'noteTitle', title: '笔记列表', unresize: true}
                ]]
            , done:
                function (res, curr, count) {
                    $('th').css({'text-align': 'center', 'font-size': '17px', 'letter-spacing': '8px'});
                    init_select();//初始化标签
                }
        })

        //所有笔记
        $("#all").click(function () {
            init_select();//初始化标签
            clearEidtSpace();
            init_table("","","");
        });

        //收藏夹
        $("#starList").click(function () {
            init_select();//初始化标签
            clearEidtSpace();
            init_table("","","1");
        })

        //根据类型刷新笔记列表
        function init_table(type, key,star) {
            table.render({
                elem: '#note-list',
                where: {token: token, type: type, key: key,star:star},//传递token到服务端
                url: 'http://localhost:8080/note/note_list', //默认传递两个参数
                cellMinWidth: 240, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                height: 'full-180',
                cols:
                    [[ //标题栏
                        {field: 'noteTitle', title: '笔记列表', unresize: true}
                    ]]
                , done:
                    function (res, curr, count) {
                        $('th').css({'text-align': 'center', 'font-size': '17px', 'letter-spacing': '8px'});
                    }
            })
        }

        //点击标题
        table.on('row(note-filter)', function (obj) {
            var noteContent = obj.data.noteContent;
            var noteTitle = obj.data.noteTitle;
            noteId = obj.data.noteId;//设置全局笔记id
            $('#note-title').val(noteTitle);//设置标题
            tinyMCE.activeEditor.setContent(noteContent);
            $('#noteType').val(obj.data.noteType);
            showNoteType();//设置标签可见
            //显示是否已经收藏
            var ifStar = obj.data.star;
            if(ifStar == "1"){
                $('#ifStar').html("&#xe658;");
            }
            if(ifStar == "0"){
                $('#ifStar').html("&#xe600;");
            }
        });

        //加星笔记
        $("#star").click(function () {
            var falg = $('#ifStar').val();
            if(flag == "&#xe658;"){
                layer.msg("已收藏");
            };
            if(noteId == ""){
                return;
            };
            var data = {
                "noteId": noteId
            };
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "http://localhost:8080/note/set_star.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        /*init_table("", "","");
                        hideNoteType();
                        clearEidtSpace();
                        init_select();*/
                        $('#ifStar').html("&#xe658;");//设置为已经收藏
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        });


        //创建笔记

        $("#cleanEditSpace").click(function () {
            $('#note-title').val("");//清除标题
            tinyMCE.activeEditor.setContent("");//清除内容
            $('#noteType').val("");//清除标签
            $('#ifStar').html("&#xe600;");//设置空心收藏
            noteId = "";//清除全局noteId
            showNoteType();//显示标签
        });


        //保存/更新笔记
        $("#saveNote").click(function () {
            var noteTitle = $('#note-title').val();
            //获取html内容
            var noteContent = tinyMCE.activeEditor.getContent();
            var noteType = $('#noteType').val();
            var data = {
                "noteTitle": noteTitle,
                "noteType": noteType,
                "noteContent": noteContent,
                "noteId": noteId
            }
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "http://localhost:8080/note/save_note.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        init_table("", "","");
                        hideNoteType();
                        clearEidtSpace();
                        init_select();
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        });

        //删除笔记
        $("#delete-note").click(function () {

            if (noteId == "") {
                return;
            }
            var data = {
                "noteId": noteId
            }
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "http://localhost:8080/note/delete_note.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg('删除成功!');
                        init_table("", "","");
                        clearEidtSpace();
                        hideNoteType();
                    }
                },
            })
        });

        //全文搜索
        $("#search-note").click(function () {
            var key = $("#input-search-note").val();
            init_table("", key,"");
        })


        //设置标签是否可见
        $("#setType").click(function () {
            if (flag == true) {
                $('#showType').css({'display': 'block'});
                flag = false;
                return;
            }
            if (flag == false) {
                $('#showType').css({'display': 'none'});
                flag = true;
                return;
            }
        });

        //隐藏标签
        function hideNoteType() {
            $('#showType').css({'display': 'none'});
            flag = true;
        };

        //显示标签
        function showNoteType() {
            $('#showType').css({'display': 'block'});
            flag = false;
        }

        //清除编辑区
        function clearEidtSpace() {
            $('#note-title').val("");//清除标题
            tinyMCE.activeEditor.setContent("");
            $('#noteType').val("");//清除标签
            $('#ifStar').html("&#xe600;");//设置空心收藏
            noteId = "";
        }

        //初始化标签
        function init_select() {
            $("#selectNoteTpe").empty();//先对类型进行清空
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "http://localhost:8080/note/init_noteType.json",
                success: function (result) {
                    if (result.code == 1) {
                        var selectData = result.data.textValues;
                        var htmls = '<option value="">请选择类型</option>';
                        for (var x in selectData) {
                            htmls += '<option value = "' + selectData[x].key + '">' + selectData[x].value + '</option>'
                        }
                        htmls += '<option value = "未分类">未分类</option>'
                        $("#selectNoteTpe").append(htmls);
                        form.render();
                    }
                },
            })
        };

        //标签选择事件
        form.on('select(selectNoteTpe)', function (data) {
            init_table(data.value, "","");
            hideNoteType();
            clearEidtSpace();
            //设置
            $('#noteType').val(data.value);//设置标题
        });
    })
</script>
</html>