<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>cloudNote</title>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/wangEditor-3.1.1/release/wangEditor.min.js"></script>
    <style>

        .w-e-text-container {
            height: 410px;
            width: 100%;

        }

        .note-title {
            border: none;
        }

        .layui-container {
            width: 100%;
            height: 100%;
            padding: 0 0;
            overflow: hidden;
        }

        <!--
        此样式有用-- >
        .layui-table, .layui-table-view {
            margin: 0 0;
        }
    </style>
</head>

<body>
<!--顶部导航栏-->
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">

        <div><a class="layui-logo" id="cloudNote" href="/to_index">云笔记平台</a></div>

        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="information"><i class="layui-icon layui-icon-user"></i> 账号设置</a></dd>
                    <dd><a href="">意见反馈</a></dd>
                    <dd><a href=""><i class="layui-icon layui-icon-logout"></i> 注销登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" style="text-align: left;padding-left: 8px">
            <ul class="layui-nav layui-nav-tree" lay-filter="select-type">
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-edit"></i> 我的笔记</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="study"><i class="layui-icon layui-icon-home"></i> 学习</a></dd>
                        <dd><a href="#" id="work"><i class="layui-icon layui-icon-home"></i> 工作</a></dd>
                        <dd><a href="#" id="life"><i class="layui-icon layui-icon-home"></i> 生活</a></dd>
                        <dd><a href="#" id="travel"><i class="layui-icon layui-icon-home"></i> 旅游</a></dd>
                        <dd><a href="#" id="other"><i class="layui-icon layui-icon-home"></i> 随笔</a></dd>
                        <dd><a href="#" id="all"><i class="layui-icon layui-icon-home"></i> 所有</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-component"></i> 我的资源</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="/imagePage"><i class="layui-icon layui-icon-picture"></i> 图片</a></dd>
                        <dd><a href="/filePage"><i class="layui-icon layui-icon-file-b"></i> 文档</a></dd>
                        <dd><a href="/filePage"><i class="layui-icon layui-icon-video"></i> 视频</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-date"></i> 我的日程</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="/to_schedule_page"><i class="layui-icon layui-icon-home"></i> 查看</a>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-delete"></i> 回收站</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-home"></i> 全部恢复</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-home"></i> 全部清空</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-home"></i> 查看全部</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set"></i> 系统设置</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="information"><i class="layui-icon layui-icon-user"></i> 账号设置</a></dd>
                        <dd><a href=""><i class="layui-icon layui-icon-logout"></i> 意见反馈</a></dd>
                        <dd><a href=""><i class="layui-icon layui-icon-logout"></i> 注销登录</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree" lay-filter="test" id="memus"></ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-container">

            <div class="layui-row">
                <!--笔记列表-->
                <div class="layui-col-xs3">
                    <div class="grid-demo grid-demo-bg1">
                        <div class="layui-row">
                            <div class="layui-col-xs9">
                                <input id="input-search-note" type="text" placeholder="搜索" autocomplete="off"
                                       class="layui-input"
                                       style="border-right: none;boder-top:none;border-bottom: none;font-size: 16px"/>
                            </div>
                            <div class="layui-col-xs3" style="text-align:center">
                                <button id="search-note" type="button" class="layui-btn layui-btn-primary"
                                        style="border:none;padding: 0 0"><i
                                        class="layui-icon layui-icon-search" style="font-size: 32px;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="layui-row">
                            <div class="layui-col-xs12">
                                <table class="" lay-skin="ngb" id="note-list"
                                       lay-filter="note-filter"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--笔记编辑区-->
                <div class="layui-col-xs9">
                    <div class="grid-demo">
                        <!--标题区-->
                        <div class="layui-row">
                            <div class="layui-col-xs9">
                                <div class="grid-demo">
                                    <div class="layui-input-inline" style="width: 100%;float:left;">
                                        <input type="text" id="note-title" name="noteTitle"
                                               class="layui-input note-title"
                                               placeholder="标题">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs3">
                                <div class="grid-demo">
                                    <div class="layui-btn-group" style="float:right">
                                        <button id="save-button" type="button" class="layui-btn layui-btn-primary"
                                                style="border:none;padding: 0 5px;"><i
                                                class="layui-icon layui-icon-add-1" style="font-size: 32px;"></i>
                                        </button>
                                        <button id="delete-note" type="button" class="layui-btn layui-btn-primary"
                                                button-space
                                                style="border:none;padding: 0 5px;" onmouseover="123"><i
                                                class="layui-icon layui-icon-delete" style="font-size: 32px;"></i>
                                        </button>
                                        <button type="button" class="layui-btn layui-btn-primary"
                                                style="border:none;padding: 0 5px"><i
                                                class="layui-icon layui-icon-about" style="font-size: 32px;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--编辑区-->
                        <div class="layui-row">
                            <div class="layui-col-xs12">
                                <div id="div1" class="toolbar">
                                </div>
                            </div>
                        </div>


                        <div class="layui-row">
                            <div class="layui-col-xs12">
                                <div class="layui-row">
                                    <div class="layui-col-xs12" style="width: 100%;height: 100%;">
                                        <div id="div2">
                                            <!--可使用 min-height 实现编辑区域自动增加高度-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="layui-footer layui-bg-black">
            © layui.com - 底部固定区域
        </div>

    </div>


</div>
</body>

<script th:inline="none">

    //设置全局token
    var token = sessionStorage.getItem("token");
    //设置全局笔记类型为所有
    var noteType = "";
    //设置全局noteId
    var noteId = "";
    //预先加载模块
    layui.use(['table', 'element', 'form', 'layer'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;

        //方法级自动渲染表单数据
        var table_reload = table.render({
            elem: '#note-list',
            where: {token: token},//传递token到服务端
            url: 'http://localhost:8080/note/note_list', //默认传递两个参
            height: 'full-140',
            cellMinWidth: 280, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            cols:
                [[ //标题栏
                    {field: 'noteTitle', title: '笔记列表', unresize: true}
                ]]
            , done:
                function (res, curr, count) {
                    //点击按钮创建笔记
                    $('th').css({'text-align': 'center', 'font-size': '17px', 'letter-spacing': '8px'});
                    /*
                                        $("th").click(function () {
                                            alert("123");
                                        })*/
                }
        })

        //学习
        $("#study").click(function () {
            init_table("study");
            noteType = "study";
            /* $('#note-title').val("");//清除标题
             editor.txt.html("");//清除文本*/
        })

        //工作
        $("#work").click(function () {
            init_table("work");
            noteType = "work";
            /* $('#note-title').val("");//清除标题
             editor.txt.html("");//清除文本*/
        })

        //生活
        $("#life").click(function () {
            init_table("life");
            noteType = "life";
            /* $('#note-title').val("");//清除标题
             editor.txt.html("");//清除文本*/
        })

        //旅游
        $("#travel").click(function () {
            init_table("travel");
            noteType = "travel";
            /* $('#note-title').val("");//清除标题
             editor.txt.html("");//清除文本*/
        })

        //随笔
        $("#other").click(function () {
            init_table("other");
            noteType = "other";
            /* $('#note-title').val("");//清除标题
             editor.txt.html("");//清除文本*/
        })

        //所有
        $("#all").click(function () {
            init_table("");
            noteType = "";
            /*$('#note-title').val("");//清除标题
            editor.txt.html("");//清除文本*/
        })

        //初始化table
        function init_table(type) {
            $('#note-title').val("");//清除标题
            editor.txt.html("");//清除文本
            var table_reload1 = table.render({
                elem: '#note-list',
                where: {token: token, type: type},//传递token到服务端
                url: 'http://localhost:8080/note/note_list', //默认传递两个参
                height: 'full-140',
                cols:
                    [[ //标题栏
                        {field: 'noteTitle', title: '创建笔记', unresize: true}
                    ]]
                , done:
                    function (res, curr, count) {
                        //点击按钮创建笔记
                        $('th').css({'text-align': 'center', 'font-size': '17px'});
                        $("th").click(function () {
                            alert("123");
                        })
                    }
            })
        }

        //单击事件
        table.on('row(note-filter)', function (obj) {
            //单机时获取当前数据，存储在全局变量之中，然后点击删除或者下载按钮，最后清除数据
            var noteContent = obj.data.noteContent;
            var noteTitle = obj.data.noteTitle;
            noteId = obj.data.noteId;
            $('#note-title').val(noteTitle);//设置标题
            editor.txt.html(noteContent);

        });

        //保存笔记
        $("#save-button").click(function () {
            var noteTitle = $('#note-title').val();
            //  var noteType = $('#note-type').val();
            //获取html内容
            var noteContent = editor.txt.html();
            var data = {
                "noteTitle": noteTitle,
                "noteType": noteType,
                "noteContent": noteContent
            }
            var jsonData = JSON.stringify(data);
            //alert(jsonData);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "http://localhost:8080/note/save_note.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg('添加成功!');
                        init_table(noteType);
                    } else {
                        layer.msg('添加失败!');
                    }
                },
            })
        });

        //删除笔记
        $("#delete-note").click(function () {
            var data = {
                "noteId": noteId
            }
            var jsonData = JSON.stringify(data);
            alert(jsonData);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "http://localhost:8080/note/delete_note.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg('删除成功!');
                        init_table(noteType);
                    }
                },
            })
        });

        //渲染编辑区
        var E = window.wangEditor
        var editor = new E('#div1', '#div2')  //工具栏与内容区分开
        editor.create()

        //查找数据
        $("#search-note").click(function () {
            alert("查找数据");
            var key = $("#input-search-note").val();
            var table_reload2 = table.render({
                elem: '#note-list',
                where: {token: token, key: key},//传递token到服务端
                url: 'http://localhost:8080/note/note_list', //默认传递两个参
                height: 'full-140',
                cols:
                    [[ //标题栏
                        {field: 'noteTitle', title: '创建笔记', unresize: true}
                    ]]
                , done:
                    function (res, curr, count) {
                        /*//点击按钮创建笔记
                        $('th').css({'text-align': 'center', 'font-size': '17px'});
                        $("th").click(function () {
                            alert("123");
                        })*/
                    }
            })
        })
    })
</script>
</html>