<!DOCTYPE html>
<html>
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>note</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--引入layui-->
    <link rel='stylesheet' type='text/css' media='screen' href='../static/layui-v2.5.5/layui/css/layui.css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <!--引入jquery-->
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/common.js"></script>

</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部导航栏-->
    <div class="layui-header">
        <div><a class="layui-logo" id="cloudNote" href="/to_index">云笔记平台</a></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <img id="headImage" src="" class="layui-nav-img">
                <span id="headAccountName"></span>
            </li>
        </ul>
    </div>

    <!--左侧导航栏-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" style="text-align: left;padding-left: 8px">

            <ul class="layui-nav layui-nav-tree" lay-filter="select-type">
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-edit"></i> 我的笔记</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toNotePage"><i class="layui-icon layui-icon-form"></i> 所有笔记</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-component"></i> 我的资源</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toImagePage"><i class="layui-icon layui-icon-picture"></i> 图片</a></dd>
                        <dd><a href="#" id="toFilePage"><i class="layui-icon layui-icon-file-b"></i> 文档</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-date"></i> 我的日程</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toSchedulePage"><i class="layui-icon layui-icon-form"></i> 所有日程</a>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set"></i> 系统设置</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toInformationPage"><i class="layui-icon layui-icon-user"></i> 用户设置</a></dd>
                        <dd class="layui-this"><a href="javascript:location.reload();"><i
                                class="layui-icon layui-icon-password"></i> 修改密码</a>
                        </dd>
                        <dd><a href="#" id="logout"><i class="layui-icon layui-icon-prev"></i> 注销登录</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>
    <!--中间部分-->
    <div class="layui-body">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space20">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">重置我的密码</div>
                        <div class="layui-card-body">
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">当前密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="currentPassword" id="currentPassword"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">新密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" id="accountPassword" name="accountPassword"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">确认新密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" id="confirmPassword" name="confirmPassword"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button type="button" class="layui-btn" id="editPassword">确定修改
                                        </button>
                                        <button type="button" class="layui-btn" id="reset">重置</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer layui-bg-black">
        © layui.com - 底部固定区域
    </div>
</div>
</body>
<script>

    //设置全局token
    let token = sessionStorage.getItem("token");

    //设置表头
    $('#headImage').attr('src', sessionStorage.getItem("headImageUrl"));
    $('#headAccountName').html(sessionStorage.getItem("headAccountName"));

    layui.use(['element', 'form'], function () {
        var element = layui.element;
        var form = layui.form;


        //修改密码->重置密码
        $("#editPassword").click(function () {
            var accountPassword = $('#accountPassword').val();
            var confirmPassword = $('#confirmPassword').val();
            var currentPassword = $('#currentPassword').val();
            var formData = {
                "currentPassword": currentPassword,
                "accountPassword": accountPassword,
                "confirmPassword": confirmPassword
            }
            var jsonData = JSON.stringify(formData);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                data: jsonData,
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/account/update_password.json",
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message);
                        //修改密码之后弹出提醒框进行重新登录
                    } else {
                        layer.msg(result.message);
                    }
                },
            })
        });

        //修改密码->重置->清理密码框
        $("#reset").click(function () {
            $('#accountPassword').val("");
            $('#confirmPassword').val("");
            $('#currentPassword').val("");
        })

        $("#logout").click(function () {
            //清空sessionStorage
            sessionStorage.removeItem("token");
            sessionStorage.removeItem("headAccountName");
            sessionStorage.removeItem("headImageUrl");
            logout(token);
        })

        $("#toNotePage").click(function () {
            toNotePage(token);
        })

        $("#toImagePage").click(function () {
            toImagePage(token);
        })

        $("#toFilePage").click(function () {
            toFilePage(token);
        })

        $("#toSchedulePage").click(function () {
            toSchedulePage(token);
        })


        $("#toInformationPage").click(function () {
            toInformationPage(token);
        })

        $("#toResetPasswordPage").click(function () {
            toResetPasswordPage(token);
        })

        $("#toRecycleBinPage").click(function () {
            toRecycleBinPage(token);
        })
    });

</script>
</html>