<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>用户登录</title>

    <!--引入layui-->
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/layui.css" type='text/css'>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/admin.css" type='text/css'>
    <link rel='stylesheet' media='screen' href="../static/layui-v2.5.5/layui/css/login.css" type='text/css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <!--引入jquery-->
    <script src="../static/jquery-3.4.1.min.js"></script>
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>cloud note</h2>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form" style="display: none">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="AccountPassword"></label>
                <input type="password" name="AccountPassword" id="AccountPassword" lay-verify="required"
                       placeholder="新密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="confirmPassword"></label>
                <input type="password" name="confirmPassword" id="confirmPassword" lay-verify="required"
                       placeholder="确认密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter=resetPassword>重置新密码</button>
            </div>
        </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">

    </div>
</div>
</body>
<script type="text/javascript">


    layui.use(['element', 'form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;


        //重置新的密码
        form.on('submit(resetPassword)', function (data) {

            var jsonData = JSON.stringify(data.field);
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: jsonData,
                url: "http://localhost:8080/account/register",
                error: function (result) {
                    alert("网络出现异常!");
                },
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.message, function () {
                                window.location.href = "/login";//进入登录页面
                            }
                        );
                    } else {
                        layer.msg(result.message);
                    }
                }
            })
            ;
        });
    })
</script>
</html>




