<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>云笔记</title>
    <link rel="icon" href="https://001-bucket.oss-cn-shanghai.aliyuncs.com/admin/title.gif" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--引入layui-->
    <link rel='stylesheet' typeUtils='text/css' media='screen' href='../static/layui-v2.5.5/layui/css/layui.css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script type="text/javascript" src="../static/common.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <style>
        #calendar {
            position: relative;
            width: 94%;
            height: 100%;
        }

        #calendar #layui-laydate1, #calendar #layui-laydate1 .layui-laydate-main, #calendar .layui-laydate-content table {
            width: 100%;
        }

        #calendar .layui-laydate-content td, .layui-laydate-content th {
            height: 55px;
            padding: 1px;
            text-align: center;
        }

        #calendar .layui-laydate-content table tbody {
            height: calc(200vh - 340px);
        }

        #calendar .layui-laydate-footer {
            position: relative;
            height: 40px;
            line-height: 26px;
            padding: 9px 20px;
        }

        .time-label {
            float: left;
            display: block;
            font-weight: 400;
            text-align: center;
        }
        .footer {
            padding: 30px 0;
            line-height: 30px;
            text-align: center;
            font-weight: 300;
        }

        .footer a {
            padding: 0 5px;
        }

    </style>
</head>

<body class="layui-layout-body">
<!--顶部导航栏-->
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div><a class="layui-logo" id="cloudNote" href="/to_index">云笔记平台</a></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <img id="headImage" src="" class="layui-nav-img">
                <span id="headAccountName"></span>
            </li>
        </ul>

    </div>
    <!--左侧导航栏-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" style="text-align: left;padding-left: 8px">
            <ul class="layui-nav layui-nav-tree" lay-filter="select-type">
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-edit"></i> 我的笔记</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toNotePage"><i class="layui-icon layui-icon-form"></i> 所有笔记</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-component"></i> 我的资源</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toImagePage"><i class="layui-icon layui-icon-picture"></i> 图片</a></dd>
                        <dd><a href="#" id="toFilePage"><i class="layui-icon layui-icon-file-b"></i> 文档</a></dd>
                    </dl>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon layui-icon-date"></i> 我的日程</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd class="layui-this"><a href="#" id="schedule"><i class="layui-icon layui-icon-form"></i> 查看日程</a>
                        </dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set"></i> 系统设置</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toInformationPage"><i class="layui-icon layui-icon-user"></i> 用户设置</a></dd>
                        <dd><a href="#" id="toResetPasswordPage"><i class="layui-icon layui-icon-password"></i> 修改密码</a>
                        </dd>
                        <dd><a href="#" id="logout"><i class="layui-icon layui-icon-prev"></i> 注销登录</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>

    <div class="layui-body">
        <div class="layui-container" style="padding-top: 3px;">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <div class="layui-inline" id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer footer">
        <div class="layui-main">
            <p>
                <a href="javascript:void(0);">云笔记</a>
                <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow">苏ICP备19045217号</a>
                <a href="javascript:void(0);">联系邮箱:2422321558@qq.com</a>
            </p>
        </div>
    </div>
</div>
</body>

<!--任务弹出框-->
<div class="layui-fluid" id="scheduleSpace" style="display: none;padding:0 8px">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header" style="margin-top: 4px">
                    <form class="layui-form" id="1" action="post" lay-filter="selectSchedule">
                        <div class="layui-form-item" style="margin-bottom: 0">
                            <div class="layui-input-inline" style="width: 100%">
                                <select name="all" id="all" lay-filter="selectSchedule">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body">
                    <div class="layui-form-item" style="margin-bottom:5px">
                        <label class="layui-form-label"
                               style="text-align:center;width: 40px;padding: 9px 8px;">时间</label>
                        <div class="layui-input-block" style="margin-left: 60px">
                            <input type="text" id="startTime" name="startTime" readonly autocomplete="off"
                                   class="layui-input" style="text-align: center;padding-left:0px">
                        </div>
                    </div>

                    <div class="layui-form-item" style="margin-bottom:5px">
                        <label class="layui-form-label"
                               style="text-align:center;width: 40px;padding: 9px 8px;">标题</label>
                        <div class="layui-input-block" style="margin-left: 60px">
                            <input type="text" id="scheduleTitle" name="scheduleTitle"
                                   class="layui-input" maxlength="20"
                                   placeholder="标题">
                        </div>
                    </div>


                    <form class="layui-form" id="2" action="post" lay-filter="scheduleAheadTime">
                        <div class="layui-form-item" style="margin-bottom:5px">
                            <label class="layui-form-label"
                                   style="text-align:center;width: 40px;padding: 9px 8px;">提醒</label>
                            <div class="layui-input-block" style="margin-left: 60px">
                                <select name="aheadTime" id="aheadTime" lay-filter="selectAheadTime">
                                    <option value="0">不提醒</option>
                                    <option value="5">提前5分钟</option>
                                    <option value="15">提前15分钟</option>
                                    <option value="30">提前30分钟</option>
                                    <option value=60>提前1小时</option>
                                    <option value="120">提前2小时</option>
                                    <option value="1440">提前一天</option>
                                </select>
                            </div>
                        </div>
                    </form>

                    <div class="layui-form-item layui-form-text">
                        <textarea id="scheduleContent" class="layui-textarea"
                                  placeholder="请输入内容" maxlength="1000"
                                  style="resize: none"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //获取token
    var token = sessionStorage.getItem("token");

    //设置表头
    $('#headImage').attr('src', sessionStorage.getItem("headImageUrl"));
    $('#headAccountName').html(sessionStorage.getItem("headAccountName"));

    //加载页面日历模块
    layui.use(['layer', 'form', 'laydate', 'element'], function () {
        var layer = layui.layer;
        var laydate = layui.laydate;
        var form = layui.form;

        //弹窗
        var index;

        let globalSchedule = "";

        //加载日历插件
        loading_date();

        //日历插件函数
        function loading_date() {
            let markData = JSON.parse(getScheduleList());
            laydate.render({
                    elem: '#calendar'
                    , type: 'datetime'
                    , theme: 'grid'
                    , position: 'static'
                    , isInitValue: true //是否允许填充初始值
                    , range: false
                    , format: 'yyyy-MM-dd HH:mm:ss'
                    , value: new Date()
                    , calendar: true
                    , showBottom: true
                    , btns: false
                    , change: function (value, date, endDate) {
                        //alert("日期被切换时的回调 ");
                    }
                    , mark: markData//此处为json对象
                    , ready: function (date) {

                    }
                    , done: function (value, date, endDate) {
                        //选择完毕后的回调
                        //value：得到日期生成的值，也就是点击的日期   2020-03-10 22:09:52
                        //date：得到日期的对象，显示年月日时分秒 例子：{"year":2020,"month":1,"date":8,"hours":22,"minutes":45,"seconds":36}
                        initAll(value);//初始化当前日期下的所有日程
                        createSpace(value);
                    }
                    , change: function (value, date, endDate) {

                    }
                }
            );
        }

        //初始化当前日期下所有的日程
        function initAll(value) {
            $("#all").empty();//先对日程进行清空
            $.ajax({
                type: "get",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/schedule/init_currentDay_schedule.json",
                data: {date: value},
                success: function (result) {
                    if (result.code == 1) {
                        let scheduleData = result.data.textValues;
                        $("#all").append('<option value="">已有日程</option>');
                        for (let x in scheduleData) {
                            $("#all").append('<option value = "' + scheduleData[x].key + '">' + scheduleData[x].value + '</option>');
                        }
                        form.render();
                    }
                },
            })
        }

        //日程选择时间
        form.on('select(selectSchedule)', function (data) {
            if (data.value == "") {
                //清空编辑区
                $("#scheduleTitle").val("");
                $("#scheduleContent").val("");
                form.val("scheduleAheadTime", {
                    "aheadTime": ""
                });
                return;
            } else {
                var jsonData = JSON.stringify({"scheduleId": data.value})
                $.ajax({
                    type: "post",
                    contentType: "application/json",
                    dataType: 'json',
                    headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                    url: "/schedule/get_schedule.json",
                    data: jsonData,
                    success: function (result) {
                        if (result.code == 1) {
                            $("#scheduleTitle").val(result.data.scheduleTitle);
                            $("#scheduleContent").val(result.data.scheduleContent);
                            form.val("scheduleAheadTime", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                                "aheadTime": result.data.aheadTime // "name": "value"
                            });
                            //全局数据赋值
                            globalSchedule = result.data;
                        } else {
                            layer.msg(result.message);
                        }
                    },
                })
            }
        });

        //弹窗
        function createSpace(value) {
            index = layer.open({
                type: 1,
                skin: 'layui-layer-rim',
                title: false,
                area: ['400px', '400px'], //宽高
                btn: ['创建', '更新', '删除'],
                content: $("#scheduleSpace")
                , success: function () {
                    //打开成功后的回调
                    $('#startTime').val(value);
                    form.val("scheduleAheadTime", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                        "aheadTime": "0" // "name": "value"
                    });
                }
                , yes: function () {
                    //创建日程
                    saveSchedule(value);
                },
                btn2: function (index, layero) {
                    updateSchedule();
                },
                btn3: function (index, layero) {
                    //清空编辑区
                    $("#scheduleTitle").val("");
                    $("#scheduleContent").val("");
                    form.val("scheduleAheadTime", {
                        "aheadTime": ""
                    });
                    //删除日程
                    removeSchedule();
                },
                cancel: function () {
                    //清空编辑区
                    $("#scheduleTitle").val("");
                    $("#scheduleContent").val("");
                    form.val("scheduleAheadTime", {
                        "aheadTime": ""
                    });
                }
            });
        }

        //更新日程
        function updateSchedule() {

            if ($('#scheduleTitle').val() == "") {
                layer.msg("标题不能为空!")
                return;
            }
            if ($('#scheduleContent').val() == "") {
                layer.msg("内容不能为空!")
                return;
            }
            if (globalSchedule.scheduleTitle != $("#scheduleTitle").val()) {
                globalSchedule.scheduleTitle = $("#scheduleTitle").val();
            }
            if (globalSchedule.scheduleContent != $("#scheduleContent").val()) {
                globalSchedule.scheduleContent = $("#scheduleContent").val();
            }
            if (globalSchedule.aheadTime != $('#aheadTime').val()) {
                globalSchedule.aheadTime = $("#aheadTime").val();
            }
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: JSON.stringify(globalSchedule),
                url: "/schedule/update_schedule.json",
                error: function (result) {
                    layer.msg("出现异常，请联系管理员!");
                },
                success: function (result) {
                    if (result.code == 1) {
                        //成功之后刷新日历
                        layer.close(index);
                        location.reload();

                    } else {
                        layer.msg(result.message);
                    }
                }
            })
        }

        //创建日程
        function saveSchedule(value) {
            let aheadTime = $('#aheadTime').val();
            if ($('#scheduleTitle').val() == "") {
                layer.msg("标题不能为空!")
                return;
            }

            if ($('#scheduleContent').val() == "") {
                layer.msg("内容不能为空!")
                return;
            }

            let data = {
                "aheadTime": aheadTime,
                "scheduleContent": $('#scheduleContent').val(),
                "scheduleTitle": $('#scheduleTitle').val(),
                "startTime": value
            };
            var jsonData = JSON.stringify(data);//转换为json字符串
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "/schedule/save_schedule.json",
                error: function (result) {
                    layer.msg("出现异常，请联系管理员!");
                },
                success: function (result) {
                    if (result.code == 1) {
                        //成功之后刷新日历
                        layer.close(index);
                        location.reload();

                    } else {
                        layer.msg(result.message);
                    }
                }
            })
        }

        //删除日程
        function removeSchedule() {
            if (globalSchedule == "") {
                return;
            } else {
                $.ajax({
                    type: "get",
                    contentType: "application/json",
                    dataType: 'json',
                    async: false,
                    headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                    data: {'scheduleId': globalSchedule.scheduleId},
                    url: "/schedule/delete_schedule.json",
                    error: function (result) {
                        layer.msg("异常错误!");
                    },
                    success: function (result) {
                        if (result.code == 1) {
                            //刷新页面
                            layer.msg(result.message);
                            location.reload();
                        } else {
                            layer.msg(result.message);
                        }
                    }
                });
            }
        }


        //获取所有活动内容
        function getScheduleList() {
            var data = "";
            $.ajax({
                type: "get",
                contentType: "application/json",
                dataType: 'json',
                async: false,
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/schedule/schedule_list.json",
                error: function (result) {

                },
                success: function (result) {
                    if (result.code == 1) {
                        data = JSON.stringify(result.data);
                    } else {
                        layer.msg(result.message);
                    }
                }
            });
            return data;
        }

        //刷新内容区
        $("#schedule").click(function () {
            loading_date();
        })

        $("#logout").click(function () {
            sessionStorage.removeItem("token");
            sessionStorage.removeItem("headAccountName");
            sessionStorage.removeItem("headImageUrl");
            logout(token);
        })

        $("#toNotePage").click(function () {
            toNotePage(token);
        })

        $("#toImagePage").click(function () {
            toImagePage(token);
        })

        $("#toFilePage").click(function () {
            toFilePage(token);
        })

        $("#toInformationPage").click(function () {
            toInformationPage(token);
        })

        $("#toResetPasswordPage").click(function () {
            toResetPasswordPage(token);
        })

        $("#toRecycleBinPage").click(function () {
            toRecycleBinPage(token);
        })

    });


</script>
</html>
