<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>云笔记</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--引入layui-->
    <link rel='stylesheet' typeUtils='text/css' media='screen' href='../static/layui-v2.5.5/layui/css/layui.css'>
    <script src="../static/layui-v2.5.5/layui/layui.js"></script>
    <script type="text/javascript" src="../static/common.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <style>
        #calendar {
            position: relative;
            width: 94%;
            height: 100%;
        }

        #calendar #layui-laydate1, #calendar #layui-laydate1 .layui-laydate-main, #calendar .layui-laydate-content table {
            width: 100%;
        }

        #calendar .layui-laydate-content td, .layui-laydate-content th {
            height: 55px;
            padding: 1px;
            text-align: center;
        }

        #calendar .layui-laydate-content table tbody {
            height: calc(200vh - 340px);
        }

        .text_box {
            margin: 10px;
        }

        #calendar .layui-laydate-footer {
            position: relative;
            height: 40px;
            line-height: 26px;
            padding: 9px 20px;
        }

        .time-label {
            float: left;
            display: block;
            font-weight: 400;
            text-align: center;
        }

        .layui-unselect dl {
            max-height: 140px;
        }
    </style>
</head>

<body class="layui-layout-body">
<!--顶部导航栏-->
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div><a class="layui-logo" id="cloudNote" href="/to_index">云笔记平台</a></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <img id="headImage" src="" class="layui-nav-img">
                <span id="headAccountName"></span>
            </li>
        </ul>

    </div>
    <!--左侧导航栏-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" style="text-align: left;padding-left: 8px">
            <ul class="layui-nav layui-nav-tree" lay-filter="select-type">
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-edit"></i> 我的笔记</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toNotePage"><i class="layui-icon layui-icon-form"></i> 所有笔记</a></dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-component"></i> 我的资源</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="#" id="toImagePage"><i class="layui-icon layui-icon-picture"></i> 图片</a></dd>
                        <dd><a href="#" id="toFilePage"><i class="layui-icon layui-icon-file-b"></i> 文档</a></dd>
                    </dl>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon layui-icon-date"></i> 我的日程</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd class="layui-this"><a href="#" id="schedule"><i class="layui-icon layui-icon-form"></i> 查看任务</a>
                        </dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set"></i> 系统设置</a>
                    <dl class="layui-nav-child" style="padding-left: 15px">
                        <dd><a href="javascript:location.reload();"><i class="layui-icon layui-icon-user"></i> 账号设置</a>
                        </dd>
                        <dd><a href="#" id="toResetPasswordPage"><i class="layui-icon layui-icon-password"></i> 修改密码</a>
                        </dd>
                        <dd><a href="#" id="logout"><i class="layui-icon layui-icon-prev"></i> 注销登录</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>

    <div class="layui-body">
        <div class="layui-container" style="padding-top: 3px;">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <div class="layui-inline" id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer layui-bg-black">
        © layui.com - 底部固定区域
    </div>
</div>
</body>

<!--任务弹出框-->
<div class="text_box" id="scheduleSpace" style="display: none;">
    <div id="createSpace" style="display: block">
        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-input-inline" style="width: 100%;">
                        <input type="text" id="currentTime" name="currentTime"
                               class="layui-input note-title"
                               placeholder="活动时间" readonly style="border: none;text-align: center">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">
                    <form class="layui-form" action="post" lay-filter="schedule">
                        <div class="layui-form-item" style="margin-bottom: 0">
                            <div class="layui-input-inline" style="width: 100%">
                                <select name="noteType" id="aheadTime" lay-filter="selectNoteTpe">
                                    <option value="0">不提醒</option>
                                    <option value="5">提前5分钟</option>
                                    <option value="15">提前15分钟</option>
                                    <option value="30">提前30分钟</option>
                                    <option value=60>提前1小时</option>
                                    <option value="120">提前2小时</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-col-xs8">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-input-inline" style="width: 100%;float:left;">
                        <input type="text" id="scheduleTitle" name="scheduleTitle"
                               class="layui-input note-title"
                               placeholder="标题">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-form-item layui-form-text">
                        <textarea id="scheduleContent" class="layui-textarea" placeholder="请输入内容"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="checkSpace" style="display: none">
        <div class="layui-row">
            <div class="layui-col-xs8">
                <div class="grid-demo grid-demo-bg1">
                    <form class="layui-form" action="post" lay-filter="schedule">
                        <div class="layui-form-item" style="margin-bottom: 0">
                            <div class="layui-input-inline" style="width: 100%">
                                <select name="executeTime" id="executeTime" lay-filter="selectExecuteTime">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">
                    <form class="layui-form" action="post" lay-filter="schedule">
                        <div class="layui-form-item" style="margin-bottom: 0">
                            <div class="layui-input-inline" style="width: 100%">
                                <select name="aheadTime" id="checkAheadTime" lay-filter="checkAheadTime">
                                    <option value="0">不提醒</option>
                                    <option value="5">提前5分钟</option>
                                    <option value="15">提前15分钟</option>
                                    <option value="30">提前30分钟</option>
                                    <option value=60>提前1小时</option>
                                    <option value="120">提前2小时</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="layui-row">
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">
                    <form class="layui-form" action="post" lay-filter="schedule">
                        <div class="layui-form-item" style="margin-bottom: 0">
                            <div class="layui-input-inline" style="width: 100%">
                                <input type="text" id="aheadTime1" name="aheadTime"
                                       class="layui-input note-title" readonly="readonly">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-col-xs8">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-input-inline" style="width: 100%;float:left;">
                        <input type="text" id="scheduleTitle1" name="scheduleTitle1"
                               class="layui-input note-title"
                               placeholder="标题">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-form-item layui-form-text">
                        <textarea id="scheduleContent1" class="layui-textarea" placeholder="请输入内容"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //获取token
    var token = sessionStorage.getItem("token");

    //设置表头
    $('#headImage').attr('src', sessionStorage.getItem("headImageUrl"));
    $('#headAccountName').html(sessionStorage.getItem("headAccountName"));

    //加载页面日历模块
    layui.use(['layer', 'form', 'laydate', 'element'], function () {
        var layer = layui.layer;
        var laydate = layui.laydate;
        var form = layui.form;

        var markData = "";
        //弹窗
        var index;
        //创建全局的switch值,默认为关闭
        var isRemind = "false";

        var scheduleId = "";
        //加载日历插件
        loading_date();

        //日历插件函数
        function loading_date() {
            markData = JSON.parse(getScheduleList());
            //加载日历插件
            var laydateRender = laydate.render({
                elem: '#calendar'
                , type: 'datetime'
                , theme: 'grid'
                , position: 'static'
                , isInitValue: true //是否允许填充初始值
                , range: false
                , format: 'yyyy-MM-dd HH:mm:ss'
                , value: new Date()
                , calendar: true
                , btns: false
                , change: function (value, date, endDate) {
                    //alert("日期被切换时的回调 ");
                }
                , mark: markData//此处为json对象
                , ready: function (date) {

                }
                , done: function (value, date, endDate) {
                    //选择完毕后的回调
                    //value：得到日期生成的值，也就是点击的日期   2020-03-10 22:09:52
                    //date：得到日期的对象，显示年月日时分秒 例子：{"year":2020,"month":1,"date":8,"hours":22,"minutes":45,"seconds":36}

                    //判读当前选择的时间是否符合要求，如果符合则弹窗否则提示不弹窗
                    isPass(date, value);
                }
                , change: function (value, date, endDate) {
                }
            });
        }

        //判断选择的时间是否符合要求
        function isPass(selectDate, value) {
            var data = {
                "selectDate": value
            }
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "/schedule/is_pass.json",
                error: function (result) {
                    alert("123");
                },
                success: function (result) {
                    if (result.code == 1) {
                        createSpace(value, result.message);//弹窗
                    } else {
                        layer.msg(result.message);
                    }
                }
            })
        }

        //弹窗
        function createSpace(value, flag) {
            index = layer.open({
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                title: '添加任务',
                area: ['450px', '350px'], //宽高
                btn: ['创建', '查看', '关闭'],
                content: $("#scheduleSpace")
                , success: function () {
                    if (flag == "true") {
                        $('#currentTime').val(value);

                        $('#createSpace').css({'display': 'block'});
                        $('#checkSpace').css({'display': 'none'});
                    } else {
                        //回显数据
                        $('#createSpace').css({'display': 'none'});
                        $('#checkSpace').css({'display': 'block'});
                    }
                }
                , yes: function () {
                    saveSchedule(value);
                },
                btn2: function () {
                    //初始化selectExecuteTime
                    $('#createSpace').css({'display': 'none'});
                    $('#checkSpace').css({'display': 'block'});
                    initSelectExecuteTime(value);
                    creaetCheckFlag = false;
                    return false;
                },
                btn3: function (index, layero) {
                    //清空时间，标题，内容
                    $('#scheduleTitle').val("");
                    $('#scheduleContent').val("");
                    $('#aheadTime').val("");
                    $('#currentTime').val("");
                    $('#scheduleTitle1').val("");
                    $('#scheduleContent1').val("");
                    $('#executeTime').val();
                    $('#scheduleContent1').val();
                    $('#checkAheadTime').val();
                },
                cancel: function () {
                    //清空时间，标题，内容
                    $('#scheduleTitle').val("");
                    $('#scheduleContent').val("");
                    $('#aheadTime').val("");
                    $('#currentTime').val("");
                    $('#scheduleTitle1').val("");
                    $('#scheduleContent1').val("");
                    $('#executeTime').val();
                    $('#scheduleContent1').val();
                    $('#checkAheadTime').val();

                }
            });
        }

        //创建日程
        function saveSchedule(value) {
            //获取新的数据
            var scheduleTitle = $('#scheduleTitle').val();
            var scheduleTitleUpdate = $('#scheduleTitle1').val();
            var scheduleContent = $('#scheduleContent').val();
            var executeTimeUpdate = $('#executeTime').val();
            var scheduleContentUpdate = $('#scheduleContent1').val();
            var aheadTime = $('#aheadTime').val();
            var aheadTime2 = $('#checkAheadTime').val();

            var data = {
                "aheadTime": aheadTime,
                "scheduleContent": scheduleContent,
                "scheduleTitle": scheduleTitle,
                "executeTime": value,
                "scheduleId": scheduleId,
                "aheadTime2": aheadTime2,
                "scheduleTitleUpdate": scheduleTitleUpdate,
                "scheduleContentUpdate": scheduleContentUpdate,
                "executeTimeUpdate": executeTimeUpdate
            };
            var jsonData = JSON.stringify(data);//转换为json字符串
            var token = sessionStorage.getItem("token");
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                data: jsonData,
                url: "/schedule/save_task.json",
                error: function (result) {

                },
                success: function (result) {
                    if (result.code == 1) {
                        //成功之后刷新日历
                        layer.close(index);
                        location.reload();
                    } else {
                        layer.msg(result.message);
                    }
                }
            })
        }

        /*
                //更新日程
                function updateSchedule(value) {
                    //获取新的数据
                    var scheduleTitle = $('#scheduleTitle').val();
                    var scheduleContent = $('#scheduleContent').val();
                    var aheadTime = $('#aheadTime').val();
                    var data = {
                        "aheadTime": aheadTime,
                        "scheduleContent": scheduleContent,
                        "scheduleTitle": scheduleTitle,
                        "executeTime": value
                    };
                    var jsonData = JSON.stringify(data);//转换为json字符串
                    var token = sessionStorage.getItem("token");
                    $.ajax({
                        type: "post",
                        contentType: "application/json",
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                        data: jsonData,
                        url: "http://localhost:8080/schedule/save_task",
                        error: function (result) {

                        },
                        success: function (result) {
                            if (result.code == 1) {
                                //成功之后刷新日历
                                layer.close(index);
                                location.reload();
                            } else {
                                layer.msg(result.message);
                            }
                        }
                    })
                }*/


        //初始化selectExecuteTime
        function initSelectExecuteTime(executeTime) {
            $("#executeTime").empty();//先进行清空
            var data = {
                "executeTime": executeTime
            }
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                data: jsonData,
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/schedule/init_executeTime.json",
                success: function (result) {
                    if (result.code == 1) {
                        var selectData = result.data.textValues;
                        var htmls = '<option value="">请选择日程</option>';
                        for (var x in selectData) {
                            htmls += '<option value = "' + selectData[x].key + '">' + selectData[x].value + '</option>'
                        }
                        $("#executeTime").append(htmls);
                        form.render();
                    }
                },
            })
        };


        //标签选择事件
        form.on('select(selectExecuteTime)', function (data) {
            //获取数据
            var data = {
                "executeTime": data.value
            }

            var jsonData = JSON.stringify(data);

            $.ajax({
                type: "post",
                contentType: "application/json",
                dataType: 'json',
                data: jsonData,
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
                url: "/schedule/get_schedule.json",
                success: function (result) {
                    if (result.code == 1) {
                        //回显标题
                        $('#scheduleTitle1').val(result.data.scheduleTitle);//设置标题
                        //回显内容
                        $('#scheduleContent1').val(result.data.scheduleContent);
                        //回显提前时间
                        $('#aheadTime1').val(result.data.aheadTime);

                        scheduleId = result.data.scheduleId;
                    }
                },
            })
        });

        //刷新内容区
        $("#schedule").click(function () {
            loading_date();
        })

        $("#logout").click(function () {
            logout(token);
        })

        $("#toImagePage").click(function () {
            toImagePage(token);
        })

        $("#toFilePage").click(function () {
            toFilePage(token);
        })

        $("#toInformationPage").click(function () {
            toInformationPage(token);
        })

        $("#toResetPasswordPage").click(function () {
            toResetPasswordPage(token);
        })

        $("#toRecycleBinPage").click(function () {
            toRecycleBinPage(token);
        })

    });

    //获取活动内容
    function getScheduleList() {
        var data = "";
        $.ajax({
            type: "get",
            contentType: "application/json",
            dataType: 'json',
            async: false,
            headers: {'Content-Type': 'application/json;charset=utf8', 'token': token},
            url: "/schedule/schedule_list.json",
            error: function (result) {

            },
            success: function (result) {
                if (result.code == 1) {
                    data = JSON.stringify(result.data);
                } else {
                    //初始化失败
                }
            }
        });
        return data;
    }
</script>
</html>
