<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <!-- 控制台输出 -->
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class %L %M - %msg%n"/>
        </console>

    </appenders>

    <loggers>

        <root level="info">
            <appender-ref ref="Console"/>

        </root>
    </loggers>

</configuration>