<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mapper.AdminUserMapper">

    <resultMap id="baseMap" type="com.entity.User">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_password" property="userPassword" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="is_logout" property="isLogout" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="last_login_time" property="LastLoginTime" jdbcType="VARCHAR"/>
        <result column="user_role" property="userRole" jdbcType="VARCHAR"/>
    </resultMap>

    <!--sql语句-->
    <sql id="base_sql">
        user_id,user_name,user_password,email,phone,create_time,update_time,sex,is_logout,remark,last_login_time,user_role
    </sql>

    <insert id="insertByEmail" parameterType="com.entity.User">
        insert into user (email,user_name,user_password,create_time)
        value ( #{email,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{userPassword,jdbcType=VARCHAR},now())
    </insert>

    <insert id="insertByPhone" parameterType="com.entity.User">
        insert into user (phone,user_name,user_password,create_time)
        value ( #{phone,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{userPassword,jdbcType=VARCHAR},now())
    </insert>

    <select id="findUser" parameterType="com.entity.Condition" resultMap="baseMap">
        select
        <include refid="base_sql"/>
        from user
        where
        <if test="userName != '' and userName != null">
        user_name = #{userName,jdbcType=VARCHAR} and
        </if>
        <if test="email != '' and email != null">
            email = #{email,jdbcType=VARCHAR} and
        </if>
        <if test="phone != '' and phone != null">
            phone = #{phone,jdbcType=VARCHAR} and
        </if>
        user_password = #{password,jdbcType=VARCHAR}
    </select>

    <select id="findUserByUsername" parameterType="java.lang.String" resultMap="baseMap">
        select <include refid="base_sql"/>
        from user
        where user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="findUserByEmail" parameterType="java.lang.String" resultMap="baseMap">
        select <include refid="base_sql"/>
        from user
        where email = #{email,jdbcType=VARCHAR}
    </select>

</mapper>