<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mapper.ImageMapper">

    <sql id="base_sql">
        image_id,account_id,image_name,image_type,image_size,create_time,image_path,image_url,whole_name,is_recycle
    </sql>

    <resultMap id="baseMap" type="com.entity.Image">
        <id column="image_id" property="imageId" jdbcType="INTEGER"/>
        <result column="account_id" property="accountId" jdbcType="INTEGER"/>
        <result column="image_name" property="imageName" jdbcType="INTEGER"/>
        <result column="image_type" property="imageType" jdbcType="VARCHAR"/>
        <result column="image_size" property="imageSize" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="image_path" property="imagePath" jdbcType="VARCHAR"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="whole_name" property="wholeName" jdbcType="VARCHAR"/>
        <result column="is_recycle" property="isRecycle" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectImageUrl" parameterType="java.lang.Integer" resultType="java.lang.String">
         select
            image_url
         from image
         where image_id = #{imageId,jdbcType=INTEGER}
     </select>
    <!--存储图片-->
    <insert id="insertImage" parameterType="com.entity.Image">
        insert into image(account_id,image_name,image_type,image_size,image_path,whole_name,create_time)
        value (
        #{accountId,jdbcType=INTEGER},
        #{imageName,jdbcType=VARCHAR},
        #{imageType,jdbcType=VARCHAR},
        #{imageSize,jdbcType=VARCHAR},
        #{imagePath,jdbcType=INTEGER},
        #{wholeName,jdbcType=VARCHAR},
        now())
    </insert>

    <select id="selectImageList" parameterType="java.lang.Integer" resultType="com.entity.Image" resultMap="baseMap">
        select  image_id,image_name,image_path,whole_name
        from image
        where account_id = #{accountId,jdbcType=INTEGER} and is_recycle = '0'
    </select>

    <!--更新图片-->
    <update id="updateImage" parameterType="com.entity.Image">
         update image
        set
        <if test="imageUrl != null and imageUrl != ''">
            image_url = #{imageUrl,jdbcType=VARCHAR},
        </if>
        <if test="isRecycle != null and isRecycle !=''">
            is_recycle = #{isRecycle,jdbcType=VARCHAR},
        </if>
        <if test="imageName != null and imageName !=''">
            image_name = #{imageName,jdbcType=VARCHAR},
        </if>
        update_time = now()
        where
        1 = 1
        <if test="imageId != null and imageId != ''">
            and image_id = #{imageId,jdbcType=INTEGER}
        </if>
     </update>

    <!--获取图片列表-->
    <select id="selectImageByCondition" parameterType="com.entity.Condition" resultType="com.entity.Image" resultMap="baseMap">
        select image_id,image_path,whole_name,image_url
        from image
        where
        1 = 1
        <if test="accountId != '' and accountId != null">
            and account_id = #{accountId,jdbcType=INTEGER}
        </if>
        <if test="isRecycle != null and isRecycle != ''">
            and is_recycle = #{isRecycle,jdbcType=VARCHAR}
        </if>
        <if test="key != null and key != ''">
            and whole_name  like  "%"#{key,jdbcType=VARCHAR}"%"
        </if>
    </select>

    <!--查询图片-->
    <select id="selectImage" parameterType="com.entity.Image" resultType="com.entity.Image"
            resultMap="baseMap">
        select
        <include refid="base_sql"/>
        from image
        where
        1 = 1
        <if test="accountId != '' and accountId != null">
            and account_id = #{accountId,jdbcType=INTEGER}
        </if>
        <if test="imageName != '' and imageName != null">
            and image_name = #{imageName,jdbcType=VARCHAR}
        </if>
        <if test="isRecycle != null and isRecycle !=''">
            is_recycle = #{isRecycle,jdbcType=VARCHAR},
        </if>
    </select>


</mapper>
