<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mapper.NoteMapper">

    <sql id="base_sql">
        note_id,account_id,note_type,note_title,note_content,create_time,update_time,is_recycle,star
    </sql>

    <resultMap id="baseMap" type="com.entity.Note">
        <id column="note_id" property="noteId" jdbcType="INTEGER"/>
        <result column="account_id" property="accountId" jdbcType="INTEGER"/>
        <result column="note_type" property="noteType" jdbcType="VARCHAR"/>
        <result column="note_title" property="noteTitle" jdbcType="VARCHAR"/>
        <result column="note_content" property="noteContent" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="is_recycle" property="isRecycle" jdbcType="VARCHAR"/>
        <result column="star" property="star" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectNoteByCondition" parameterType="com.entity.Condition" resultType="com.entity.Note"
            resultMap="baseMap">
        select
        <include refid="base_sql"/>
        from note
        where account_id = #{accountId,jdbcType=INTEGER}
        and is_recycle = #{isRecycle,jdbcType=VARCHAR}
        <if test="type != null and type != ''">
            and note_type = #{type,jdbcType=VARCHAR}
        </if>
        <if test="key != null and key != ''">
            and note_title like '%' #{key} '%' or note_content like '%' #{key} '%'
        </if>
        <if test="star != null and star !=''">
            and star = #{star,jdbcType=VARCHAR}
        </if>
    </select>

    <insert id="insertNote" parameterType="com.entity.Note" useGeneratedKeys="true" keyProperty="noteId">
        insert into note (account_id,note_type,note_title,note_content,create_time)
     value ( #{accountId,jdbcType=INTEGER},#{noteType,jdbcType=VARCHAR},#{noteTitle,jdbcType=VARCHAR},#{noteContent,jdbcType=VARCHAR},now())
    </insert>

    <update id="updateNote" parameterType="com.entity.Note">
        update note
        <set>
            <if test="noteContent != null">
                note_content = #{noteContent,jdbcType=VARCHAR},
            </if>
            <if test="noteTitle != null">
                note_title = #{noteTitle,jdbcType=VARCHAR},
            </if>
            <if test="isRecycle != null">
                is_recycle = #{isRecycle,jdbcType=VARCHAR},
            </if>
            <if test="noteType != null">
                note_type=#{noteType,jdbcType=INTEGER},
            </if>
            <if test="star != null and star !=''">
                star = #{star,jdbcType=VARCHAR},
            </if>
            update_time = now()
        </set>
        where note_id = #{noteId,jdbcType=INTEGER}
    </update>

</mapper>
