<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mapper.PIMMapper">

    <resultMap id="baseMap" type="com.entity.PIM">
        <id column="PIM_id" property="PIMId" jdbcType="INTEGER"/>
        <id column="account_id" property="accountId" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="head_image_url" property="headImageUrl" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="baseMap1" type="com.entity.AccountPIMData">
        <id column="account_id" property="accountId" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="account_name" property="accountName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="last_login_time" property="LastLoginTime" jdbcType="VARCHAR"/>
        <result column="account_role" property="accountRole" jdbcType="VARCHAR"/>
        <result column="is_closed" property="isClosed" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="base_sql">
        PIM_id,account_id,head_image_url,province,sex,city,remark
    </sql>

    <insert id="inertPIM" parameterType="com.entity.PIM">
        insert into account (email,account_name,account_password,create_time)
        value ( #{email,jdbcType=VARCHAR},#{accountName,jdbcType=VARCHAR},#{accountPassword,jdbcType=VARCHAR},now())
    </insert>

    <update id="updatePIM" parameterType="com.entity.PIM">
        update pim
        <set>
            <if test=" sex!= null and sex != ''">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="headImageUrl != null and headImageUrl != ''">
                head_image_url = #{headImageUrl,jdbcType=VARCHAR},
            </if>
            <if test="province != null and province != ''">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null and city != ''">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            update_time = now()
        </set>
        where account_id = #{accountId,jdbcType=INTEGER}
    </update>



    <select id="selectAccountPIMData" parameterType="com.entity.Condition" resultMap="baseMap1">
        select
        A.account_id,P.sex,P.province,P.city,A.account_name,A.email,A.phone,A.create_time,A.last_login_time,A.account_role,A.is_closed
        from account A left join pim  P on A.account_Id = P.account_id

    </select>


</mapper>