<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.ScheduleMapper">

    <sql id="base_sql">
        schedule_id,account_id,schedule_content,start_time,ahead_time,create_time,update_time,is_need_remind,schedule_title,remind_time
    </sql>

    <resultMap id="baseMap" type="com.entity.schedule.Schedule">
        <id column="schedule_id" property="scheduleId" jdbcType="VARCHAR"/>
        <result column="account_id" property="accountId" jdbcType="VARCHAR"/>
        <result column="schedule_content" property="scheduleContent" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="VARCHAR"/>
        <result column="remind_time" property="remindTime" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="schedule_title" property="scheduleTitle" jdbcType="VARCHAR"/>
        <result column="is_need_remind" property="isNeedRemind" jdbcType="VARCHAR"/>
        <result column="ahead_time" property="aheadTime" jdbcType="VARCHAR"/>
    </resultMap>

    <!--日程列表-->
    <select id="selectScheduleByCondition" parameterType="com.entity.Condition"
            resultType="com.entity.schedule.Schedule"
            resultMap="baseMap">
        select
        <include refid="base_sql"/>
        from schedule
        where
        1 = 1
        <if test="accountId != null and accountId != ''">
            and account_id = #{accountId,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null and startTime != ''">
            and start_time like #{startTime,jdbcType=VARCHAR} '%'
        </if>
        <if test="scheduleId != null and scheduleId !=''">
            and schedule_id = #{scheduleId,jdbcType=VARCHAR}
        </if>
        ORDER BY create_time asc
    </select>

    <!--创建日程-->
    <insert id="insertSchedule" parameterType="com.entity.schedule.Schedule">
        insert into schedule (
        schedule_id, account_id, schedule_content, start_time, remind_time, create_time, is_need_remind, ahead_time,schedule_title)
        value (
            #{scheduleId,jdbcType=VARCHAR},
            #{accountId,jdbcType=VARCHAR},
            #{scheduleContent,jdbcType=VARCHAR},
            #{startTime,jdbcType=VARCHAR},
            #{remindTime,jdbcType=VARCHAR},
            now(),
            #{isNeedRemind,jdbcType=VARCHAR},
            #{aheadTime,jdbcType=VARCHAR},
            #{scheduleTitle,jdbcType=VARCHAR}
        )
    </insert>


    <update id="updateSchedule" parameterType="com.entity.schedule.Schedule">
        update schedule
        <set>
            <if test="scheduleContent != null">
                schedule_content = #{scheduleContent,jdbcType=VARCHAR},
            </if>
            <if test="scheduleTitle != null">
                schedule_title = #{scheduleTitle,jdbcType=VARCHAR},
            </if>
            <if test="isNeedRemind != null">
                is_need_remind = #{isNeedRemind,jdbcType=VARCHAR},
            </if>
            <if test="aheadTime != null">
                ahead_time = #{aheadTime,jdbcType=VARCHAR},
            </if>
            update_time = now()
        </set>
        where schedule_id = #{scheduleId,jdbcType=VARCHAR}
    </update>

    <!--批量更新日程-->
    <update id="updateScheduleList" parameterType="java.util.List">

        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update schedule
            <set>
                <if test="item.isNeedRemind != null">
                    is_need_remind = #{item.isNeedRemind,jdbcType=VARCHAR},
                </if>
            </set>
            where
            <if test="item.scheduleId != null">
                schedule_id = #{item.scheduleId,jdbcType=VARCHAR}
            </if>
        </foreach>
    </update>
</mapper>
