<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mapper.ScheduleMapper">

    <sql id="base_sql">
        schedule_id,user_id,schedule_content,execute_time,remind_time,create_time,update_time,is_obsolete,show_execute_time,advance_hour,advance_minute
    </sql>

    <resultMap id="baseMap" type="com.entity.Schedule">
        <id column="schedule_id" property="scheduleId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="schedule_content" property="scheduleContent" jdbcType="VARCHAR"/>
        <result column="execute_time" property="executeTime" jdbcType="VARCHAR"/>
        <result column="remind_time" property="remindTime" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="is_obsolete" property="isObsolete" jdbcType="VARCHAR"/>
        <result column="show_execute_time" property="showExecuteTime" jdbcType="VARCHAR"/>
        <result column="advance_hour" property="advanceHour" jdbcType="INTEGER"/>
        <result column="advance_minute" property="advanceMinute" jdbcType="INTEGER"/>
    </resultMap>


    <select id="selectScheduleByUserId" parameterType="java.lang.Integer" resultType="com.entity.Schedule"
            resultMap="baseMap">
        select
        <include refid="base_sql"/>
        from schedule
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <insert id="insertSchedule" parameterType="com.entity.Schedule">
        insert into schedule (schedule_id,user_id,schedule_content,execute_time,remind_time,create_time,is_remind,show_execute_time,advance_hour,advance_minute)
        value ( #{scheduleId,jdbcType=INTEGER},
                #{userId,jdbcType=INTEGER},
                #{scheduleContent,jdbcType=VARCHAR},
                #{executeTime,jdbcType=VARCHAR},
                #{remindTime,jdbcType=VARCHAR},
                now(),
                #{isRemind,jdbcType=VARCHAR},
                #{showExecuteTime,jdbcType=VARCHAR},
                #{advanceHour,jdbcType=INTEGER},
                #{advanceMinute,jdbcType=INTEGER})
    </insert>


    <select id="selectExcuteTimeByCondition" parameterType="com.entity.Condition" resultType="com.entity.Schedule"
            resultMap="baseMap">
        select execute_time,schedule_content
        from schedule
        where user_id = #{userId,jdbcType=INTEGER} and show_execute_time = #{showExecuteTime,jdbcType=VARCHAR}
    </select>


    <select id="selectContentByCondition" parameterType="com.entity.Condition" resultType="com.entity.Schedule"
            resultMap="baseMap">
        select schedule_id,schedule_content
        from schedule
        where user_id = #{userId,jdbcType=INTEGER} and execute_time = #{executeTime,jdbcType=VARCHAR}
    </select>

    <select id="selectAdvanceByCondition" parameterType="com.entity.Condition" resultType="com.entity.Schedule" resultMap="baseMap">
        select schedule_id,schedule_content,advance_hour,advance_minute
        from schedule
        where user_id = #{userId,jdbcType=INTEGER} and execute_time = #{executeTime,jdbcType=VARCHAR}
    </select>

    <delete id="removeScheduleByCondition" parameterType="com.entity.Condition">
        delete from schedule
        where user_id = #{userId,jdbcType=INTEGER} and execute_time = #{executeTime,jdbcType=VARCHAR}
    </delete>



    <update id="updateSchedule" parameterType="com.entity.Schedule">
        update schedule
        set
            schedule_content= #{scheduleContent,jdbcType=VARCHAR},
            update_time = now(),
            remind_time = #{remindTime,jdbcType=VARCHAR},
            advance_hour = #{advanceHour,jdbcType=INTEGER},
            advance_minute = #{advanceMinute,jdbcType=INTEGER}
        where execute_time = #{executeTime,jdbcType=VARCHAR} and user_id = #{userId,jdbcType = INTEGER}
    </update>
    <!--
    #{executeTime,jdbcType=VARCHAR}
    set  -->

    <!--   &lt;!&ndash;设置笔记进入回收站&ndash;&gt;
       <update id="updateRecycle" parameterType="java.lang.Integer">
           update note
           set is_recycle = 1
           where note_id = #{noteId,jdbcType=INTEGER}
       </update>-->





    <!--    <select id="selectNoteByCondition" parameterType="com.entity.Condition" resultType="java.util.List">
            select
        </select>-->
</mapper>
